@{
    ViewBag.Title = "RP Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    li {
        padding: 0;
        margin: 0;
        height: 80px;
    }

    .timeline-ul li {
        list-style: none;
        width: 600px;
        /*border-bottom: 1px solid #808080;*/
    }

    .timeline-div {
        width: 550px;
        border-left: 2px solid #000000;
        height: 80px;
        margin-left: 20px;
        padding: 10px;
        float: left;
    }

    .timeline-div-title {
        width: 60px;
        float: left;
        display: inline-block;
        position: relative;
        left: -17px;
        margin-top: 20px;
        background-color: #ffffff;
    }

    .c-icon {
        display: inline-block;
        width: 18px;
        height: 14px;
        vertical-align: text-bottom;
        font-style: normal;
    }

    .timeline-span-text {
        font-size: 18px;
        text-align: center;
        vertical-align: text-bottom;
        line-height: 100%;
        font-style: normal;
        font-weight: 400;
        background-color: #f13f40;
        color: #fff;
    }

    .timeline-div-content {
        float: left;
        width: 400px;
        margin-left: -10px;
    }

    .timeline-li-last .c-icon {
        font-size: 18px;
        color: #f13f40;
    }

    .timeline-li-last .timeline-div-content {
        font-size: 18px;
        color: #f13f40;
    }

    .timeline-li-last .timeline-div-title {
        left: -20px;
        margin-top: -10px;
        padding-top: 27px;
    }

    .timeline-li-last .c-icon {
        height: 18px;
    }

    .timeline-li .timeline-div-content {
        margin-top: 12px;
    }

    .timeline-li-first .timeline-div-content {
        margin-top: 12px;
    }

    .timeline-li-first .timeline-div-title {
        padding-bottom: 40px;
    }
</style>

<div class="container">
    <div class="row" style="margin-top: 20px;">
        <div class="form-group">
            <label></label>
            <input type="button" id="search" value="查询" />
        </div>
    </div>

    <div class="row">
        <ul class="timeline-ul">
            <li class="timeline-li-last">
                <div class="timeline-div">
                    <div class="timeline-div-title">
                        <span class="glyphicon glyphicon-ok-circle c-icon"></span>
                        <span class="timeline-span-text">最新</span>
                    </div>
                    <div class="timeline-div-content">
                        2017年11月18日 上午9:43:55<br />
                        已签收,感谢使用顺丰,期待再次为您服务
                    </div>
                </div>
            </li>
            <li class="timeline-li">
                <div class="timeline-div">
                    <div class="timeline-div-title">
                        <span class="glyphicon glyphicon-ok-circle c-icon"></span>
                    </div>
                    <div class="timeline-div-content">
                        2017年11月18日 上午8:02:46<br />
                        快件交给段传坤，正在派送途中（联系电话：15205741776）
                    </div>
                </div>
            </li>
            <li class="timeline-li-first">
                <div class="timeline-div">
                    <div class="timeline-div-title">
                        <span class="glyphicon glyphicon-ok-circle c-icon"></span>
                    </div>
                    <div class="timeline-div-content">
                        2017年11月18日 上午7:52:02<br />
                        快件到达 【宁波市江北区舞林广场营业点】
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    验证
                    <input type="text" id="tracknum" value="601309774919" style="display:none;" />
                </h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon">验证码</span>
                    <input type="text" id="valcode" class="form-control" placeholder="请输入验证码" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" id="confirm" class="btn btn-primary">
                    确定
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#search").click(function () {
            $("#myModal").modal("show");
            // window.open('http://cummins.hi-genious.com');
            //$.ajax({
            //    url: "/test/GetTrackInfo",
            //    type: "POST",
            //    contentType: "application/json;charset=UTF-8",
            //    data: JSON.stringify({ UserID: "Cummins", Sign: "abc123!", TrackNum: "603170415C" }),
            //    async: false,
            //    dataType: "json",
            //    success: function (obj) {
            //        alert(obj.data);
            //    },
            //    error: function (obj) {
            //        alert(obj.responseText);
            //    }

            //})
        });

        $("#confirm").on("click", function () {
            if ($("#valcode").val() == "abc123!") {
                alert($("#tracknum").val());
                window.open("http://www.baidu.com");
            }
            else {
                alert("验证码不正确");
            }
        })
    })
</script>