<div class="modal " id="loadingModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog text-center" id="imgDiag">
            <img src="~/Images/loading.gif">
            <div class="row text-center" style="color:ivory">
                <b>Proccessing...</b>
            </div>
        </div>
    </div>

</div>