@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @*@Html.AntiForgeryToken()*@

    <ul class="nav navbar-nav navbar-right" style="margin-right:50px">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName(), null, null, routeValues: null, htmlAttributes: new { title = "" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}

