@{
    ViewBag.Title = "MD MDReqInq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #resultTable > thead > tr > th {
        background-color: #f5f5f5;
    }

    .table {
        max-width: 200%;
    }
</style>
<style type="text/css">
    .form-group{
        margin-bottom:0px;
    }
    #tabdiv{
         width:100%;
         height:400px;
         min-height:300px;
         overflow-x:scroll;
         overflow-y:auto;
     }
     #tableHead{
         width:150%;
         top:0px;
         position:relative;
         margin-bottom:0px;
     }
     #resultTable{
         width:200%;
     }
</style>
<script type="text/javascript">
    //$(document).ready(function () {
    //    $("#tabdiv").on("scroll", function () {
    //        var yheight = $(this).scrollTop();
    //        $("#tableHead").css("top", yheight + "px");
    //    })
    //})
</script>

<div class="container-fluid" id="mdreqinqDiv">
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>Query</b>
        </div>
        <form class="form-horizontal">
            <div class="row" style="margin-top:15px;">
                <div class="form-group">
                    <label for="MD_REQ_NO" class="col-sm-2 control-label">Request No:</label>
                    <div class="col-lg-2 col-sm-2">
                        <input type="text" class="form-control input-sm" id="txtMD_REQ_NO" placeholder="Request No" />
                    </div>
                    <label for="PART_NO" class="col-sm-2 control-label">Part No:</label>
                    <div class="col-lg-2 col-sm-2">
                        <input type="text" class="form-control input-sm" id="txtPART_NO" placeholder="Part No" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="REQ_DATE" class="col-sm-2 control-label">Requested in Last Days:</label>
                    <div class="col-lg-2 col-sm-2">
                        <input type="text" class="form-control input-sm" id="txtREQ_DATE" value="30" placeholder="Requested in Last Days" />
                    </div>
                    <label for="" class="col-sm-2 control-label">Approval Status:</label>
                    <div class="col-lg-2 col-sm-2">
                        <select class="form-control input-sm" id="txtAPP_STATUS">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-sm-2" style="padding-top:10px;">
                        <span id="txtAPP_STATUS_DESC"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="COMM_PART" class="col-sm-2 control-label">Comm Part</label>
                    <div class="col-sm-2">
                        <select class="form-control input-sm" id="txtCOMM_PART">
                            <option value=""></option>
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                            <option value="NA">NA</option>
                            <option value="TBD">TBD</option>
                        </select>
                    </div>
                    <label for="REQ_BY" class="col-sm-2 control-label">Requested by </label>
                    <div class="col-lg-4 col-sm-4">
                        <div class="col-sm-2 checkbox-inline">
                            <input type="radio" name="Radio" value="" />All
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control input-sm" id="txtWWID" placeholder="WWID" />
                        </div>
                        <div class="col-sm-4 checkbox-inline">
                            <input type="radio" name="Radio" checked="checked" value="@ViewBag.AppUser" />My request only
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <input type="button" class="btn btn-primary btn-sm" id="btnSearch" value="Query" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <input type="button" class="btn btn-primary btn-sm" id="btnApprove" value="Approve" data-status="APPROVED" />
                        <input type="button" class="btn btn-primary btn-sm" id="btnReject" value="Reject" data-status="REJECTED" />
                        <input type="button" class="btn btn-primary btn-sm" id="btnOnhold" value="Onhold" data-status="ONHOLD" />
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Result</b>
                    </div>
                    <div id="tabdiv">
                        @*<table class="table table-bordered table-hover" id="tableHead">
                            
                        </table>*@
                        <table class="table table-bordered table-hover" id="resultTable">
                            <thead>
                                <tr>
                                    <th @*style="width:2%;"*@>
                                        <input type="checkbox" id="selectAll" />
                                    </th>
                                    <th @*style="width:4%;"*@>Operation</th>
                                    <th @*style="width:4%;"*@>Request No</th>
                                    <th @*style="width:3%;"*@>Line No</th>
                                    <th @*style="width:7%;"*@>Part No</th>
                                    <th @*style="width:5%;"*@>Description</th>
                                    <th style="width:10%;">NOTE</th>
                                    <th style="width:10%;">Sourcing NOTE</th>
                                    <th @*style="width:4%;"*@>Global PrtNo</th>
                                    <th @*style="width:10%;"*@>Global DESC</th>
                                    <th @*style="width:5%;"*@>Short DESC</th>
                                    <th @*style="width:5%;"*@>Approval</th>
                                    <th @*style="width:5%;"*@>Comments</th>
                                    <th @*style="width:5%;"*@>Product Group</th>
                                    <th @*style="width:4%;"*@>Comm Part(Y/N)</th>
                                    <th @*style="width:3%;"*@>Req By</th>
                                    <th @*style="width:4%;"*@>Req Date</th>
                                    <th @*style="width:5%;"*@>
                                        <span>EXIST?</span>
                                        <select class="form-control input-sm" id="txtCHECK_EXIST">
                                            <option value=""></option>
                                        </select>
                                    </th>
                                    <th @*style="width:5%;"*@>PRI SUP?</th>
                                    <th @*style="width:5%;"*@>PRI PB?</th>
                                    <th @*style="width:4%;"*@>BPA?</th>
                                    <th @*style="width:7%;"*@>COST?</th>
                                    <th style="width:12%;">Req Desc</th>
                                </tr>
                            </thead>
                            <tbody id="resultTbody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header panel-default" style="padding:0;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width: 30px;height: 30px;">
                    &times;
                </button>
                <div class="modal-title panel-heading" style="text-align: center;">
                    New Request Approve
                </div>
            </div>
            <div class="modal-body" style="padding:10px;">
                <div class="row">
                    <div class="form-group">
                        <label for="Comments" class="col-sm-2 control-label">Comments:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" id="txtAPP_COMMENTS" placeholder="Comments" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-3 col-sm-offset-2">
                            <input type="button" class="btn btn-primary btn-sm" id="btnCancel" value="Cancel" />
                        </div>
                        <div class="col-sm-4 col-sm-offset-2">
                            <input type="button" class="btn btn-primary btn-sm" id="btnOK" value="OK" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_LoadingModal")

<script type="text/javascript">
    $(document).ready(function () {
        var appStatus;
        var list = [];

        $("#txtPART_NO").on('input propertychange', function () {
            $("#txtPART_NO").val($(this).val().toUpperCase());
        })

        GetAPP_STATUS();
        function GetAPP_STATUS() {
            $.ajax({
                url: '/md/GetAPP_STATUS',
                type: 'post',
                async: true,
                data: {},
                success: function (obj) {
                    if (obj.Success) {
                        for (var i = 0; i < obj.Data.length; i++) {
                            $("<option></option>").text(obj.Data[i]).val(obj.Data[i]).appendTo("#txtAPP_STATUS");
                        }
                    }
                    else
                        alert(obj.Msg);
                },
                error: function (e) {
                    alert("fail to get");
                }
            });
        }

        $("#txtAPP_STATUS").on('change', function () {
            if ($("#txtAPP_STATUS").val() == "") {
                $("#txtAPP_STATUS_DESC").text("");
                return false;
            }

            $.ajax({
                url: '/md/GetAPP_STATUS_DESC',
                type: 'post',
                async: true,
                data: {
                    APP_STATUS: $("#txtAPP_STATUS").val()
                },
                success: function (obj) {
                    if (obj.Success) {
                        $("#txtAPP_STATUS_DESC").text(obj.Data);
                    }
                    else
                        alert(obj.Msg);
                },
                error: function (e) {
                    alert("fail to get");
                }
            });
        })

        //Search
        $("#btnSearch").on('click', function () {
            var MD_REQ_NO = $("#txtMD_REQ_NO").val();
            var PART_NO = $("#txtPART_NO").val();
            var REQ_DATE = $("#txtREQ_DATE").val();
            var APP_STATUS = $("#txtAPP_STATUS").val();
            var REQ_BY = $("input[name='Radio']:checked").val();
            var WWID = $("#txtWWID").val();
            var COMM_PART = $("#txtCOMM_PART").val();

            //alert(REQ_BY);
            if (REQ_DATE == "" || REQ_DATE <= 0) {
                alert("Days Error!");
                return false;
            }

            $("#loadingModal").modal('show');

            $.ajax({
                url: '/md/MDReqInqSearch',
                type: 'post',
                async: true,
                data: {
                    MD_REQ_NO: MD_REQ_NO,
                    PART_NO: PART_NO,
                    REQ_DATE: REQ_DATE,
                    APP_STATUS: APP_STATUS,
                    REQ_BY: REQ_BY,
                    WWID: WWID,
                    COMM_PART:COMM_PART
                },
                success: function (obj) {
                    $('#loadingModal').modal('hide');
                    $("#resultTbody").empty();
                    $("#txtCHECK_EXIST").empty();
                    if (obj.Success) {
                        $("#resultTbody").html(obj.Data);

                        $("<option></option>").text("").val("").appendTo("#txtCHECK_EXIST");
                        if (obj.ExistList != null && obj.ExistList.length > 0) {
                            for (var i = 0; i < obj.ExistList.length; i++) {
                                $("<option></option>").text(obj.ExistList[i]).val(obj.ExistList[i]).appendTo("#txtCHECK_EXIST");
                            }
                        }
                    }
                    else
                        alert(obj.Msg);
                },
                error: function (e) {
                    $('#loadingModal').modal('hide');
                    alert("fail to search");
                }
            });
        });

        $("#txtCHECK_EXIST").on('change', function () {
            var MD_REQ_NO = $("#txtMD_REQ_NO").val();
            var PART_NO = $("#txtPART_NO").val();
            var REQ_DATE = $("#txtREQ_DATE").val();
            var APP_STATUS = $("#txtAPP_STATUS").val();
            var REQ_BY = $("input[name='Radio']:checked").val();
            var WWID = $("#txtWWID").val();
            var CHECK_EXIST = $("#txtCHECK_EXIST").val();

            //alert(REQ_BY);
            if (REQ_DATE == "" || REQ_DATE <= 0) {
                alert("Days Error!");
                return false;
            }

            $("#loadingModal").modal('show');

            $.ajax({
                url: '/md/MDReqInqSearch',
                type: 'post',
                async: true,
                data: {
                    MD_REQ_NO: MD_REQ_NO,
                    PART_NO: PART_NO,
                    REQ_DATE: REQ_DATE,
                    APP_STATUS: APP_STATUS,
                    REQ_BY: REQ_BY,
                    WWID: WWID,
                    CHECK_EXIST: CHECK_EXIST
                },
                success: function (obj) {
                    $('#loadingModal').modal('hide');
                    $("#resultTbody").empty();
                    if (obj.Success)
                        $("#resultTbody").html(obj.Data);
                    else
                        alert(obj.Msg);
                },
                error: function (e) {
                    $('#loadingModal').modal('hide');
                    alert("fail to search");
                }

            });
        })


        //selectAll
        $('#selectAll').on('click', function () {
            var checkbox = $("#resultTbody input[type=checkbox]");
            if (this.checked)
                checkbox.prop("checked", true);
            else
                checkbox.prop("checked", false);
            RefreshCheckbox();
        });

        function RefreshCheckbox() {
            list = [];
            var checkbox = $("#resultTbody input[type=checkbox]");
            var count = 0;

            for (var i = 0; i < checkbox.length; i++) {
                if (checkbox[i].checked) {
                    count++;
                    list.push({
                        MD_REQ_NO: $(checkbox[i]).attr("data-mdreqno"),
                        REQ_LINE_NO: $(checkbox[i]).attr("data-reqlineno")
                    })
                }
            }

            if (count == checkbox.length)
                $('#selectAll').prop("checked", true);
            else
                $('#selectAll').prop("checked", false);
        }

        $("#resultTbody").on('click', "input[type=checkbox]", function () {
            RefreshCheckbox();
        });

        //Global PrtNo
        $("#resultTbody").on('blur', '.GLOBAL_PARTNO', function () {
            //alert($(this).val());
            var target = $(this);

            //if (target.val() == "") {
            //    alert("No PART_NO Input");
            //    return false;
            //}

            $.ajax({
                url: '/md/GetPartDesc',
                type: 'post',
                async: true,
                data: { PART_NO: target.val() },
                success: function (obj) {
                    if (obj.Success) {
                        target.parent().next().text(obj.DESC);
                        target.parent().next().next().find(".PART_DESC_SHORT").val(obj.SHORT_DESC);
                    }
                    else
                        alert(obj.Msg);
                },
                error: function (e) {
                    alert("fail to get");
                }
            });
            //target.parent().next().text("aaaaa");
        });

        //Description
        $("#resultTbody").on('blur', '.PART_DESC', function () {
            var str = $(this);
            if (str.val() == "")
                alert("Description Error!");
            else
                str.val(str.val().toUpperCase());
        });

        //Save
        $("#resultTbody").on('click', '.btnSave', function () {
            var target = $(this);
            var MD_REQ_NO = target.attr("data-mdreqno");
            var REQ_LINE_NO = target.attr("data-reqlineno");

            var td = target.parent().parent().find("td");
            var PART_DESC = $(td).eq(5).find(".PART_DESC").val();
            var NOTE = $(td).eq(6).find(".NOTE").val();
            var GLOBAL_PARTNO = $(td).eq(8).find(".GLOBAL_PARTNO").val();
            var GLOBAL_DESC = $(td).eq(9).text();
            var PART_DESC_SHORT = $(td).eq(10).find(".PART_DESC_SHORT").val();
            var PRODUCT_GROUP_ID = $(td).eq(13).find(".PRODUCT_GROUP_ID").val();
            var COMM_PART = $(td).eq(14).find(".COMM_PART").val();


            //alert(PART_DESC + "|" + PRODUCT_GROUP_ID + "|" + COMM_PART + "|" + GLOBAL_PARTNO);

            if (PART_DESC == "" || PRODUCT_GROUP_ID == "") {
                alert("Empty Data!");
                return false;
            }

            $('#loadingModal').modal('show');

            $.ajax({
                url: '/md/MDReqInqSave',
                type: "post",
                async: true,
                data: JSON.stringify({
                    MD_REQ_NO: MD_REQ_NO,
                    REQ_LINE_NO: REQ_LINE_NO,
                    PART_DESC: PART_DESC,
                    NOTE:NOTE,
                    GLOBAL_PARTNO: GLOBAL_PARTNO,
                    GLOBAL_DESC: GLOBAL_DESC,
                    PART_DESC_SHORT: PART_DESC_SHORT,
                    PRODUCT_GROUP_ID: PRODUCT_GROUP_ID,
                    COMM_PART: COMM_PART
                }),
                contentType: 'application/json;charset=utf-8',
                success: function (obj) {
                    $('#loadingModal').modal('hide');
                    if (obj.Success)
                        $("#btnSearch").click();
                    else
                        alert(obj.Msg);
                },
                error: function (e) {
                    $('#loadingModal').modal('hide');
                    alert("fail to do");
                }
            });
        });

        //Approve
        $("#btnApprove").on('click', function () {
            ModalShow($(this).attr("data-status"));
            //appStatus = $(this).attr("data-status");
            //$("#txtAPP_COMMENTS").val("");
            //$("#myModal").modal('show');
            //alert(appStatus);
        });
        //Reject
        $("#btnReject").on('click', function () {
            ModalShow($(this).attr("data-status"));
            //appStatus = $(this).attr("data-status");
            //$("#txtAPP_COMMENTS").val("");
            //$("#myModal").modal('show');
            //alert(appStatus);
        });
        //Onhold
        $("#btnOnhold").on('click', function () {
            ModalShow($(this).attr("data-status"));
            //appStatus = $(this).attr("data-status");
            //$("#txtAPP_COMMENTS").val("");
            //$("#myModal").modal('show');
            //alert(appStatus);
        });
        function ModalShow(status) {
            if (list.length > 0 && list != null) {
                appStatus = status;
                $("#txtAPP_COMMENTS").val("");
                $("#myModal").modal('show');
            }
            else
                alert("No data select");
        }


        //Cancel
        $("#btnCancel").on('click', function () {
            $("#myModal").modal('hide');
            $("#txtAPP_COMMENTS").val("");
        });

        //OK
        $("#btnOK").on('click', function () {
            var APP_STATUS = appStatus;
            var APP_COMMENTS = $("#txtAPP_COMMENTS").val();

            //判断：PART_DESC,Product_group 不能为空

            if (list == null) {
                alert("No data select!");
                return false;
            }

            $('#loadingModal').modal('show');

            $.ajax({
                url: '/md/MDReqInqStatusChange',
                type: 'post',
                async: true,
                data: JSON.stringify({
                    APP_STATUS: APP_STATUS,
                    APP_COMMENTS: APP_COMMENTS,
                    detaillist: list
                }),
                contentType: 'application/json:charset=utf-8',
                success: function (obj) {
                    $('#loadingModal').modal('hide');
                    if (obj.Success) {
                        $("#myModal").modal('hide');
                        $("#btnSearch").click();
                        $("#selectAll").attr("checked", false);
                    }
                    else
                        alert(obj.Msg);
                },
                error: function (e) {
                    $('#loadingModal').modal('hide');
                    alert("fail to change");
                }
            })


        });

        $("input[name=Radio]").on('click', function () {
            if ($(this).val() != "")
                $("#txtWWID").attr("disabled", true);
            else
                $("#txtWWID").attr("disabled", false);
        });
        $("#txtWWID").attr("disabled", true);

    })
</script>
<script>
    $(document).ready(function () {
        //debugger;
        var ss = window.innerHeight;
        $("#imgDiag").css("margin-top", "300px");
        $("#myModal").css("margin-top", "200px");
    });
</script>
