@{
    ViewBag.Title = "MD MDSR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #resultTable > thead > tr > th {
        background-color: #f5f5f5;
    }
</style>

<div class="container-fluid" id="mdsrDiv">
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>Query</b>
        </div>
        <form class="form-horizontal">
            <div class="row" style="margin-top:15px;">
                <div class="form-group">
                    <label for="PART_NO" class="col-sm-2 control-label">Part No:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-sm" id="txtPART_NO" placeholder="Part No" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="COMPANY_CODE" class="col-sm-2 control-label">Company Code:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-sm" id="txtCOMPANY_CODE" placeholder="Company Code" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="SR_STATUS" class="col-sm-2 control-label">Status:</label>
                    <div class="col-sm-2">
                        <select class="form-control input-sm" id="txtSR_STATUS">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-sm-2" style="padding:10px;">
                        <span id="txtSR_STATUS_DESC"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="REQ_DATE" class="col-sm-2 control-label">Requested in Last days:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-sm" id="txtREQ_DATE" value="30" placeholder="Requested in Last days" />
                    </div>
                    <div class="col-sm-2">
                        <input type="button" class="btn btn-primary btn-sm" id="btnSearch" value="Submit" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <input type="button" class="btn btn-primary btn-sm" id="btnConfirm" value="Confirm" data-status="CONFIRM" />
                        <input type="button" class="btn btn-primary btn-sm" id="btnReject" value="Reject" data-status="REJECT" />
                        <input type="button" class="btn btn-primary btn-sm" id="btnOnhold" value="Onhold" data-status="ONHOLD" />
                    </div>
                    <div class="col-sm-2">
                        <input type="button" class="btn btn-primary btn-sm" id="btnUploadCopy" value="Upload from clipboard" />
                    </div>
                    <div class="col-sm-2">
                        <input type="button" class="btn btn-primary btn-sm" id="btnDownloadTemp" value="download template" />
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Result</b>
                    </div>
                    <table class="table table-bordered table-hover" id="resultTable">
                        <thead>
                            <tr>
                                <th style="width:3%;"><input type="checkbox" id="selectAll" /></th>
                                <th>Status</th>
                                <th>SEQ</th>
                                <th>Part No</th>
                                <th>Supplier</th>
                                <th>Price</th>
                                <th>MOQ</th>
                                <th>LeadTime</th>
                                <th>Comm Part?</th>
                                <th>Comments</th>
                                <th>Record Date</th>
                                <th>Updated By</th>
                                <th>REQ Date</th>
                                <th>Description</th>
                                <th>Company Name</th>
                                <th>Operation</th>
                            </tr>
                        </thead>
                        <tbody id="resultTbody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header panel-default" style="padding:0;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width: 30px;height: 30px;">
                    &times;
                </button>
                <div class="modal-title panel-heading" style="text-align: center;">
                    Source Rule Confirm/Reject/Onhold
                </div>
            </div>
            <div class="modal-body" style="padding:10px;">
                <div class="row">
                    <div class="form-group">
                        <label for="SR_COMMENTS" class="col-sm-2 control-label">Comments:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" id="txtSR_COMMENTS" placeholder="Comments" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-3 col-sm-offset-2">
                            <input type="button" class="btn btn-primary btn-sm" id="btnCancel" value="Cancel" />
                        </div>
                        <div class="col-sm-4 col-sm-offset-2">
                            <input type="button" class="btn btn-primary btn-sm" id="btnOK" value="OK" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_LoadingModal")

<script type="text/javascript">
    $(document).ready(function () {
        var sr_status;//全局变量
        var srList = [];//全局集合

        //加载Status
        $(function () {
            $.ajax({
                url: '/md/GetSR_STATUS',
                type: 'post',
                async: true,
                data: {},
                success: function (obj) {
                    if (obj.Success) {
                        for (var i = 0; i < obj.Data.length; i++) {
                            $("<option></option>").val(obj.Data[i].SR_STATUS).text(obj.Data[i].SR_STATUS).appendTo("#txtSR_STATUS");
                        }
                    }
                    else
                        alert(obj.Msg);
                },
                error: function (e) {
                    alert("fail to get");
                }
            });
        });
        //Status改变
        $("#txtSR_STATUS").on('change', function () {
            var SR_STATUS = $(this).val();
            $.ajax({
                url: '/md/GetSR_STATUS_DESC',
                type: 'post',
                async: true,
                data: { SR_STATUS: SR_STATUS },
                success: function (obj) {
                    if (obj.Success)
                        $("#txtSR_STATUS_DESC").text(obj.Data);
                    else
                        alert(obj.Msg);
                },
                error: function (e) {
                    alert("fail to get");
                }
            });
        });

        //btn Submit
        $("#btnSearch").on('click', function () {
            var PART_NO = $("#txtPART_NO").val();
            var COMPANY_CODE = $("#txtCOMPANY_CODE").val();
            var SR_STATUS = $("#txtSR_STATUS").val();
            var REQ_DATE = $("#txtREQ_DATE").val();

            $("#loadingModal").modal("show");

            $.ajax({
                url: '/md/MDSRSearch',
                type: 'post',
                async: true,
                data: {
                    PART_NO: PART_NO,
                    COMPANY_CODE: COMPANY_CODE,
                    SR_STATUS: SR_STATUS,
                    REQ_DATE: REQ_DATE
                },
                success: function (obj) {
                    $("#loadingModal").modal("hide");
                    $("#resultTbody").empty();
                    if (obj.Success)
                        $("#resultTbody").html(obj.Data);
                    else
                        alert(obj.Msg);
                },
                error: function (e) {
                    $("#loadingModal").modal("hide");
                    alert("fail to get");
                }
            })
        });

        //checkbox selectAll
        $("#selectAll").on('click', function () {
            var checkbox = $("#resultTbody input[type=checkbox]");
            if (this.checked)
                checkbox.prop("checked", true);
            else
                checkbox.prop("checked", false);
            RefreshCheckbox();
        });
        //checkbox select
        $("#resultTbody").on('click', "input[type=checkbox]", function () {
            RefreshCheckbox();
        })
        //checkbox refresh
        function RefreshCheckbox() {
            srList = [];
            var checkbox = $("#resultTbody input[type=checkbox]");
            var count = 0;
            for (var i = 0; i < checkbox.length; i++) {
                if (checkbox[i].checked) {
                    count++;
                    srList.push({
                        SR_REQ_NO: $(checkbox[i]).attr("data-srreqno")
                    });
                }
            }
            if (count == checkbox.length)
                $("#selectAll").prop("checked", true);
            else
                $("#selectAll").prop("checked", false);
        };

        //COMPANY_CODE可编辑，不能为空，且在表MD_COMPANY_SNAP中存在
        $("#resultTbody").on('blur', '.COMPANY_CODE', function () {
            //alert($(this).val());
            var cc = $(this);

            if (cc.val() == "") {
                alert("No Data");
                return false;
            }

            $.ajax({
                url: '/md/CheckCOMPANY_CODE',
                type: 'post',
                async: true,
                data: { COMPANY_CODE: cc.val() },
                success: function (obj) {
                    if (obj.Success) {
                        var tr = cc.parent().parent();
                        $(tr).find("td").eq(14).text(obj.Data);
                    } else {
                        alert(obj.Msg);
                        $(cc).focus();
                    }
                },
                error: function (e) {
                    alert("fail to check");
                }
            })

        });
        //PRICE可编辑，不能为空，只能是数字
        $("#resultTbody").on('blur', '.PRICE', function () {
            var obj = $(this);
            CheckNum(obj);
        })
        //MOQ可编辑，不能为空，只能是数字
        $("#resultTbody").on('blur', '.MOQ', function () {
            var obj = $(this);
            CheckNum(obj);
        })
        //LT可编辑，不能为空，只能是数字
        $("#resultTbody").on('blur', '.LT', function () {
            var obj = $(this);
            CheckNum(obj);
        })
        function CheckNum(obj) {
            var reg = /^\d+(\.\d+)?$/;
            if (obj.val() == "") {
                alert("No Data");
                $(obj).focus();
            }

            else if (!reg.exec(obj.val())) {
                alert("Please enter a number");
                $(obj).focus();
            }
        }

        //btn Save
        $("#resultTbody").on('click', '.btnSave', function () {
            var obj = $(this);
            var SR_REQ_NO = obj.attr("data-srreqno");
            var td = obj.parent().parent().find("td");
            var COMPANY_CODE = $(td).eq(4).find(".COMPANY_CODE").val();
            var PRICE = $(td).eq(5).find(".PRICE").val();
            var MOQ = $(td).eq(6).find(".MOQ").val();
            var LT = $(td).eq(7).find(".LT").val();
            var IS_COMMON = $(td).eq(8).find(".IS_COMMON").val();
            var SR_COMMENTS = $(td).eq(9).find(".SR_COMMENTS").val();

            $("#loadingModal").modal("show");

            $.ajax({
                url: '/md/MDSRSave',
                type: 'post',
                async: true,
                data: JSON.stringify({
                    SR_REQ_NO: SR_REQ_NO,
                    COMPANY_CODE: COMPANY_CODE,
                    PRICE: PRICE,
                    MOQ: MOQ,
                    LT: LT,
                    IS_COMMON: IS_COMMON,
                    SR_COMMENTS: SR_COMMENTS
                }),
                contentType: "application/json;charset=utf-8",
                success: function (obj) {
                    $("#loadingModal").modal("hide");
                    if (obj.Success)
                        $("#btnSearch").click();
                    else
                        alert(obj.Msg);
                },
                error: function (e) {
                    $("#loadingModal").modal("hide");
                    alert("fail to save");
                }
            })
        });

        //btn download template
        $("#btnDownloadTemp").on('click', function () {
            $.ajax({
                url: '/md/MDSRDownloadTemp',
                type: 'post',
                async: true,
                data: {},
                success: function (obj) {
                    if (obj.Success)
                        window.location.href = "/md/DownLoad?fullname=" + obj.Data;
                    else
                        alert(obj.Msg);
                },
                error: function (e) {
                    alert("fail to download");
                }
            })
        });

        //btn  Upload from clipboard
        $("#btnUploadCopy").on('click', function () {
            var str = "";
            if (window.clipboardData) {
                str = window.clipboardData.getData('Text');
            }
            else {
                alert("当前浏览器不支持操作剪切板内容，请更换IE使用！");
                return false;
            }

            $('#loadingModal').modal("show");

            $.ajax({
                url: '/md/MDSRUploadCopy',
                type: 'post',
                async: true,
                data: JSON.stringify({
                    str: str
                }),
                contentType: "application/json;charset=utf-8",
                success: function (obj) {
                    $('#loadingModal').modal("hide");
                    if (obj.Success) {
                        alert(obj.Msg);
                        $("#btnSearch").click();
                    }
                    else
                        alert(obj.Msg);
                },
                error: function (e) {
                    $('#loadingModal').modal("hide");
                    alert("fail to copy");
                }
            })
        });

        //btn Confirm
        $("#btnConfirm").on('click', function () {
            var status = $(this).attr("data-status");
            CheckAndShowModal(status);
        });
        //btn Reject
        $("#btnReject").on('click', function () {
            var status = $(this).attr("data-status");
            CheckAndShowModal(status);
        })
        //btn Onhold
        $("#btnOnhold").on('click', function () {
            var status = $(this).attr("data-status");
            CheckAndShowModal(status);
        })
        function CheckAndShowModal(status) {
            $.ajax({
                url: '/md/MDSRIsShowModal',
                type: 'post',
                async: true,
                data: {},
                success: function (obj) {
                    if (obj.Success) {
                        $("#myModal").modal("show");
                        $("#txtSR_COMMENTS").val("");
                        sr_status = status;
                    }
                    else
                        alert(obj.Msg);
                },
                error: function (e) {
                    alert("fail to get");
                }
            });
        }

        //btn OK
        $("#btnOK").on('click', function () {
            if (srList.length == 0) {
                alert("No Data Select");
                return false;
            }

            $("#loadingModal").modal("show");

            $.ajax({
                url: '/md/MDSRChangeStatus',
                type: 'post',
                async: true,
                data: JSON.stringify({
                    MDSRList: srList,
                    SR_STATUS: sr_status,
                    SR_COMMENTS: $("#txtSR_COMMENTS").val()
                }),
                contentType: "application/json;charset=utf-8",
                success: function (obj) {
                    $("#loadingModal").modal("hide");
                    if (obj.Success) {
                        $("#myModal").modal("hide");
                        $("#btnSearch").click();
                    }
                    else
                        alert(obj.Msg);
                },
                error: function (e) {
                    $("#loadingModal").modal("hide");
                    alert("fail to change");
                }
            })
        });
        //btn Cancel
        $("#btnCancel").on('click', function () {
            $("#myModal").modal("hide");
        });

    })
</script>

<script>
    $(document).ready(function () {
        //debugger;
        var ss = window.innerHeight;
        $("#imgDiag").css("margin-top", "300px");
        $("#myModal").css("margin-top", "200px");
    });
</script>
