@{
    ViewBag.Title = "Order AdrMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" id="adrmapDiv">
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>Query</b>
        </div>
        <form id="adrmapForm" class="form-horizontal">
            <div class="row" style="margin-top:15px;">
                <div class="form-group">
                    <label for="GOMS_ADDR" class="col-sm-2 control-label">GOMS ADDRESS:</label>
                    <div class="col-sm-2 col-lg-2">
                        <input type="text" class="form-control input-sm" id="txtGOMS_ADDR" placeholder="GOMS ADDRESS" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="CREATE_DATE" class="col-sm-2 control-label">Loaded in Last X days:</label>
                    <div class="col-sm-2 col-lg-2">
                        <input type="text" class="form-control input-sm" id="txtCREATE_DATE" value="7" />
                    </div>
                    <div class="col-sm-2 col-lg-2">
                        <input type="button" class="btn btn-primary btn-sm" id="searchBtn" value="Submit" />
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Result</b>
                    </div>
                    <table class="table table-bordered table-striped table-hover" id="resultTable">
                        <thead>
                            <tr>
                                <th style="width:5%;">ID</th>
                                <th style="width:30%;">GOMS ADDRESS</th>
                                <th style="width:18%">TERRITORY</th>
                                <th style="width:35%;">CONVERTED ADDRESS </th>
                                <th style="width:7%;">CREATE DATE</th>
                                <th style="width:5%;">Operation</th>
                            </tr>
                        </thead>
                        <tbody id="resultTbody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_LoadingModal")


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="width: 20%;margin-top: 200px;">
        <div class="modal-content">
            <div class="modal-header panel-default" style="padding:0;height: 30px;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="height: 30px;width: 30px;">
                    &times;
                </button>
            </div>
            <div class="modal-body" style="padding:10px;">
                <div id="adrmapTree" style="width:100%;overflow-y:auto;height: 300px;"></div>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">
    $(document).ready(function () {
        var objData;
        //查询
        $("#searchBtn").on('click', function () {
            var GOMS_ADDR = $("#txtGOMS_ADDR").val();
            var CREATE_DATE = $("#txtCREATE_DATE").val();
            if (CREATE_DATE <= 0 || CREATE_DATE == "") {
                alert("The Date Error");
                return false;
            }

            $("#loadingModal").modal("show");

            $.ajax({
                url: '/order/SearchAdrMap',
                type: 'POST',
                async: true,
                data: { GOMS_ADDR: GOMS_ADDR, CREATE_DATE: CREATE_DATE },
                success: function (obj) {
                    $("#resultTbody").empty();
                    $("#loadingModal").modal("hide");
                    if (obj.Success) {
                        $("#resultTbody").html(obj.Data);
                    } else {
                        alert(obj.Msg);
                    }
                },
                error: function (e) {
                    $("#loadingModal").modal("hide");
                    alert("fail to search");
                }
            })
        })

        //保存
        $("#resultTbody").on('click', ".saveBtn", function () {
            if (CheckSecurity()) {
                var jid = $(this).attr("data-id");
                var converted_addr = $(this).parent().parent().find("td").eq(3).find(".CONV_ADDR").val();
                var territory = $(this).parent().parent().find("td").eq(2).find(".txtTERRITORY").text();

                $("#loadingModal").modal("show");

                $.ajax({
                    url: '/order/SaveAdrMap',
                    type: 'post',
                    async: true,
                    data: { JID: jid, CONVERTED_ADDR: converted_addr, TERRITORY: territory },
                    success: function (obj) {
                        $("#loadingModal").modal("hide");
                        if (obj.Success) {
                        } else {
                            alert(obj.Msg);
                        }
                    },
                    error: function (e) {
                        $("#loadingModal").modal("hide");
                        alert("fail to save");
                    }
                })

            }            
        })

        function CheckSecurity() {
            var check = true;
            $.ajax({
                url: '/order/CheckSecurityOfAMSave',
                type: 'post',
                async: false,
                data: {},
                success: function (obj) {
                    if (!obj.Success) {
                        check = false;
                        alert(obj.Msg);
                    }
                },
                error: function (e) {
                    alert("fail to check");
                }
            })
            return check;
        }


        setTimeout($(function () {
            $.ajax({
                url: '/order/GetArea',
                type: 'post',
                async: true,
                data: {},
                success: function (obj) {
                    if (obj.Success) {
                        objData = obj.Data;
                    }
                    else
                        alert(obj.Msg);
                },
                error: function (e) {
                    alert("fail to get");
                }
            })
        }), 1000);

        $("#resultTbody").on('click', '.txtArea', function () {
            var area = $(this);
            $("#adrmapTree").treeview({
                data: objData,
                color: "#428bca",
                showBorder: false,
                levels: 1,
                onNodeSelected: function (event, node) {
                    area.parent().prev().text(node.value);
                    $("#myModal").modal("hide");
                    //alert(node.value);//这里拿到id和name，就可以通过函数跳转触发点击事件
                },
                onNodeUnselected: function (event, node) {
                }
            });
            $("#myModal").modal("show");
        });

        $("#resultTbody").on('click', '.txtRemove', function () {
            var obj = $(this);
            obj.parent().prev().text("");
        })
    })


</script>
<script>
    $(document).ready(function () {
        //debugger;
        var ss = window.innerHeight;
        $("#imgDiag").css("margin-top", "300px");
    });
</script>
