@{
    ViewBag.Title = "Quick Order Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    label.form-control {
        margin-left:10px;
    }

</style>

@Styles.Render("~/Content/datatimecss")
@Scripts.Render("~/bundles/datetime")

<input type="hidden" value="@ViewBag.AppUser" id="hddAppUser" />

<div id="orderBody" ng-app="orderApp" ng-controller="orderCtrl">
    <form class="form-horizontal" action="/order/index" method="post">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Quick Order Entry</b></div>

            <div class="row" style="margin-top:20px;">
                <div class="form-group">
                    <label for="orderID" class="col-sm-1 control-label">Order SEQ</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" id="orderID" placeholder="Auto Generation" disabled>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="cAlias" class="col-sm-1 control-label">Cus Alias</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="cAlias" ng-model="selectedAlias" ng-options="ca.ALIAS_NAME for ca in custAlias"></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="poNum" class="col-sm-1 control-label">PO No.</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="poNum" placeholder="Customer PO No.">
                    </div>

                    <label for="orderType" class="col-sm-1 control-label">Order Type</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="orderType" ng-model="selectedOrderType" ng-options="ot.ORDER_TYPE for ot in orderType"></select>
                    </div>

                    <label for="dueDate" class="col-sm-1 control-label">Due Date</label>
                    <div class="col-sm-1">
                        <input type="text" id="dueDate" class="form-control" />
                    </div>

                    <label for="cShip" class="col-sm-1 control-label">Complete Ship</label>
                    <div class="col-sm-1">
                        <select class="form-control" id="cShip">
                            <option>N</option>
                            <option>Y</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="notes" class="col-sm-1 control-label">Notes</label>
                    <div class="col-sm-9 col-lg-9">
                        <input type="text" class="form-control col-sm-8" id="notes" placeholder="Notes" value={{notice}} style="width:90%;">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="ssto" class="col-sm-1 control-label">SS to Order</label>
                    <div class="checkbox col-md-2 col-lg-2">
                        <label>
                            <input type="checkbox" id="ssto" style="margin-left:1px;" onclick="checkSstoStatu()" checked>
                        </label>
                    </div>
                </div>
            </div>


            <div class="row" id="searchBox">
                <div class="panel panel-default col-sm-7 col-sm-offset-1">
                    <div class="form-group" style="padding-top:10px">
                        <label for="shipName" class="col-sm-2 control-label">Ship Name</label>
                        <div class="col-sm-7 col-lg-7">
                            <input type="text" class="form-control" id="sbShipName" placeholder="Ship Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sbAddr" class="col-sm-2 control-label">Address</label>
                        <div class="col-sm-7 col-lg-7">
                            <input type="text" class="form-control" id="sbAddr" placeholder="Address">
                        </div>

                        <div class="col-sm-2">
                            <button type="button" class="btn btn-default" onclick="searchAddrs();">Search</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--For alias addr list part-->
            <hr />
            @*<div class="row">
                <div class="col-md-1" style="background-color:#eee">
                    <p><b>Primary Ship From</b></p>
                </div>
            </div>*@
            <div class="row">
                    <div class="col-md-9 col-md-offset-1">
                        <div class="panel panel-default" style="">
                            <div class="panel-heading"><b>Primary Ship From</b></div>
                            <table class="table table-bordered table-condensed table-striped" style="border-color:black;">
                                <tr>
                                    <td></td>
                                    <td style="width:30px"><b>Duration</b></td>
                                    <td style="width:10px">{{selectedAliasAddr.Days}}</td>
                                    <td style="width:15px"><b>WareHouse</b></td>
                                    <td style="width:15px">{{selectedAliasAddr.WareHouse}}</td>
                                    <td style="width:20px"><b>Customer No.</b></td>
                                    <td style="width:15px">{{selectedAliasAddr.CustomerNo}}</td>
                                </tr>
                                <tr>
                                    <td style="width:30px"><b>Ship To Name</b></td>
                                    <td colspan="6">{{selectedAliasAddr.LocalDestName}}</td>
                                </tr>
                                <tr>
                                    <td style="width:30px"><b>Addr 1</b></td>
                                    <td colspan="6">{{selectedAliasAddr.LocalDestAddr1}}</td>
                                </tr>
                                <tr>
                                    <td style="width:30px"><b>Addr 2</b></td>
                                    <td colspan="6">{{selectedAliasAddr.LocalDestAddr2}}</td>
                                </tr>
                                <tr>
                                    <td style="width:30px"><b>Addr 3</b></td>
                                    <td colspan="6">{{selectedAliasAddr.LocalDestAddr3}}</td>
                                </tr>
                                <tr>
                                    <td style="width:30px"><b>City</b></td>
                                    <td colspan="6">{{selectedAliasAddr.LocalDestCity}}</td>
                                </tr>
                                <tr></tr>
                                <tr>
                                    <td style="width:30px"><b>Ship To Name</b></td>
                                    <td style="width:30px">{{selectedAliasAddr.DestName}}</td>
                                    <td style="width:30px"><b>Dest No.</b></td>
                                    <td style="width:30px" colspan="4">{{selectedAliasAddr.DestLocation}}</td>
                                </tr>
                                <tr>
                                    <td style="width:30px"><b>Addr 1</b></td>
                                    <td colspan="6">{{selectedAliasAddr.DestAddr1}}</td>
                                </tr>
                                <tr>
                                    <td style="width:30px"><b>Addr 2</b></td>
                                    <td colspan="6">{{selectedAliasAddr.DestAddr2}}</td>
                                </tr>
                                <tr>
                                    <td style="width:30px"><b>Addr 3</b></td>
                                    <td colspan="6">{{selectedAliasAddr.DestAddr3}}</td>
                                </tr>
                                <tr>
                                    <td style="width:30px"><b>City</b></td>
                                    <td>{{selectedAliasAddr.DestCity}}</td>
                                    <td style="width:30px"><b>ZIP</b></td>
                                    <td>{{selectedAliasAddr.DestZip}}</td>
                                    <td style="width:30px"><b>State</b></td>
                                    <td colspan="2">{{selectedAliasAddr.DestState}}</td>
                                </tr>
                                <tr>
                                    <td style="width:30px"><b>Country</b></td>
                                    <td colspan="6">{{selectedAliasAddr.DestCountry}}</td>
                                </tr>

                            </table>
                        </div>
                </div>
            </div>

            <!--Alt Alias Address part-->
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                    <table id="altAliasAddr" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="width:10px"></th>
                                <th style="">Duration(days)</th>
                                <th style="width:15px">Distance</th>
                                <th style="width:20px">WareHouse</th>
                                <th>Attention</th>
                                <th>Ship to Name</th>
                                <th>Addr1</th>
                                <th>Addr2</th>
                                <th>Addr3</th>
                                <th>City</th>
                                <th>Province</th>
                            </tr>
                        </thead>
                        <tbody style="">
                            <tr ng-repeat="rd in AltAliasAddr ">
                                <td style="">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="altOptionsRdios" id="altOptionsRdios$index" class="altAddrRadio" seq="{{$index}}" value="">
                                        </label>
                                    </div>
                                </td>
                                <td>{{rd.Days}}</td>
                                <td>{{rd.Distance}}</td>
                                <td>{{rd.WareHouse}}</td>
                                <td>{{rd.DestAttention}}</td>
                                <td>{{rd.LocalDestName}}</td>
                                <td>{{rd.LocalDestAddr1}}</td>
                                <td>{{rd.LocalDestAddr2}}</td>
                                <td>{{rd.LocalDestAddr3}}</td>
                                <td>{{rd.LocalDestCity}}</td>
                                <td>{{rd.LocalDestState}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <!--For button Part start-->
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                    <button type="button" class="btn btn-primary" ng-click="SaveDraft()">Save Draft</button>
                    <button type="button" class="btn btn-primary" ng-click="SaveOrder()">Save Order</button>
                    <button type="button" class="btn btn-primary">Auto Fulfillments </button>
                    <button type="button" class="btn btn-primary">Download</button>

                </div>
            </div>


        </div>
    </form>
 
</div>


<!-- Search result modal-->
<div class="modal fade" id="aliasSearch" role="dialog" aria-labelledby="result" aria-hidden="true" ng-app="resultApp" ng-controller="searchResultCtrl">
    <div class="modal-dialog" style="width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Address Result</h4>
            </div>

            <div class="modal-body">
                <table id="searchResult" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="width:10px"></th>
                            <th style="">Duration(days)</th>
                            <th style="width:15px">Distance</th>
                            <th style="width:20px">WareHouse</th>
                            <th>Attention</th>
                            <th>Ship to Name</th>
                            <th>Addr1</th>
                            <th>Addr2</th>
                            <th>Addr3</th>
                            <th>City</th>
                            <th>Province</th>
                        </tr>
                    </thead>
                    <tbody style="">
                        <tr ng-repeat="rd in resultData ">
                            <td style="">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRdios" id="optionsRdios$index" class="addrRadio" seq="{{$index}}" value="">
                                    </label>
                                </div>
                            </td>
                            <td>{{rd.Days}}</td>
                            <td>{{rd.Distance}}</td>
                            <td>{{rd.WareHouse}}</td>
                            <td>{{rd.DestAttention}}</td>
                            <td>{{rd.LocalDestName}}</td>
                            <td>{{rd.LocalDestAddr1}}</td>
                            <td>{{rd.LocalDestAddr2}}</td>
                            <td>{{rd.LocalDestAddr3}}</td>
                            <td>{{rd.LocalDestCity}}</td>
                            <td>{{rd.LocalDestState}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-2 col-md-offset-10">
                        <button type="button" class="btn btn-primary" onclick="ConfirmAddr()">Confirm</button>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#dueDate').datetimepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            minView: 'month',
            todayBtn: true,
            pickerPositioin:'botton-right'

        });

        //alert("loaded");
    });


    //Angular orderApp start
    angular.module('orderApp', []).controller('orderCtrl', function ($scope, $http) {

        $http.post("/order/init",null,null).then(function (resp) {
        $scope.custAlias = resp.data.custAlias;
        $scope.orderType = resp.data.orderType;
        $scope.defaultOrderType = resp.data.defaultOrderType;

        $scope.selectedAlias = "";
        $scope.selectedOrderType="";

        $scope.selectedAliasAddr="";

        //alternative alias addr list and selected on addr
        $scope.AltAliasAddr="";
        $scope.selectedAltAliasAddr = "";

        $scope.notice = "";

        for (var i=0;i< $scope.custAlias.length;i++) {
            if ( $scope.custAlias[i].DEFAULT_FLAG == "Y")
            {
                $scope.selectedAlias = $scope.custAlias[i];
                break;
            }
        }
        for (var i = 0; i < $scope.orderType.length; i++) {
            if ($scope.orderType[i].ORDER_TYPE == $scope.defaultOrderType) {
                $scope.selectedOrderType = $scope.orderType[i];
                break;
            }
        }

        }, 
     function (resp) {
         alert("Fail!");
        // $scope.resp = resp;
     });

        $scope.GetAltAliasAddr = function (localDestName, localDestAddr1,aliasName) {
            var isSpecialShip = $("#ssto")[0].checked;
            $.ajax({
                url: "/order/GetStrictAddrs",
                data: {
                    shipName: localDestName,
                    addr: localDestAddr1,
                    aliasName:aliasName,
                    isSpecialShip: isSpecialShip
                },
                type: "post",
                async: false,
                success: function (obj) {
                    $scope.AltAliasAddr = obj;
                    //Remove the primary alias addr
                    var exist;
                    for (var i = 0; i < $scope.AltAliasAddr.length; i++) {
                        if ($scope.AltAliasAddr[i].AliasName == $scope.selectedAliasAddr.AliasName
                            && $scope.AltAliasAddr[i].SysID == $scope.selectedAliasAddr.SysID
                            && $scope.AltAliasAddr[i].CustomerNo == $scope.selectedAliasAddr.CustomerNo
                            && $scope.AltAliasAddr[i].Bill2Location == $scope.selectedAliasAddr.Bill2Location
                            && $scope.AltAliasAddr[i].Ship2Location == $scope.selectedAliasAddr.Ship2Location) {
                            exist = i;
                            break;
                        }
                    }
                    $scope.AltAliasAddr.splice(i, 1);

                },
                error: function (obj) {
                    alert("fail");
                    debugger;
                }

            });
        };


        $scope.SaveDraft = function () {
            for (var i = 0; i < $(".altAddrRadio").length ; i++) {
                if ($(".altAddrRadio")[i].checked) {
                    var seq = $(".altAddrRadio")[i].attributes['seq'].value;
                    $scope.selectedAltAliasAddr = $scope.AltAliasAddr[seq];
                    break;
                }
            }

            var dueDate = $("#dueDate")[0].value;
            var orderType = $scope.selectedOrderType.ORDER_TYPE;
            var shipCompFlag = $("#cShip")[0].value;
            var orderNote = $("#notes").val();
            var custPONO = $("#poNum").val();


            $.ajax({
                url: "/order/SaveDraft",
                data: JSON.stringify({
                    dueDate: dueDate,
                    orderType: orderType,
                    shipCompFlag: shipCompFlag,
                    orderNote: orderNote,
                    customerPONO: custPONO,
                    headInfo: $scope.selectedAliasAddr,
                    altHeadInfo: $scope.selectedAltAliasAddr
                }),
                type: "post",
                async: false,
                contentType: 'application/json',
                success: function (obj) {
                    if (obj == "success")
                        alert(obj);

                },
                error: function (obj) {
                    alert("fail");
                    debugger;
                }

            });
        };

        $scope.SaveOrder = function () {
            for (var i = 0; i < $(".altAddrRadio").length ; i++) {
                if ($(".altAddrRadio")[i].checked) {
                    var seq = $(".altAddrRadio")[i].attributes['seq'].value;
                    $scope.selectedAltAliasAddr = $scope.AltAliasAddr[seq];
                    break;
                }
            }

            var dueDate = $("#dueDate")[0].value;
            var orderType = $scope.selectedOrderType.ORDER_TYPE;
            var shipCompFlag = $("#cShip")[0].value;
            var orderNote = $("#notes").val();
            var custPONO = $("#poNum").val();


            $.ajax({
                url: "/order/SaveOrder",
                data: JSON.stringify({
                    dueDate: dueDate,
                    orderType: orderType,
                    shipCompFlag: shipCompFlag,
                    orderNote: orderNote,
                    customerPONO: custPONO,
                    headInfo: $scope.selectedAliasAddr,
                    altHeadInfo: $scope.selectedAltAliasAddr
                }),
                type: "post",
                async: false,
                contentType: 'application/json',
                success: function (obj) {
                    //if (obj == "success")
                    alert(obj);
                },
                error: function (obj) {
                    alert("fail");
                    debugger;
                }

            });
        };

    });


    angular.module('resultApp', []).controller('searchResultCtrl', function ($scope, $http) {
        //Alias addres list
        $scope.resultData = "";

    });

    //Add second app to document
    angular.bootstrap(document.getElementById("aliasSearch"), ['resultApp']);

    //Functions start
    function searchAddrs()
    {
        var shipName = $("#sbShipName").val();
        var addr = $("#sbAddr").val();
        var isSpecialShip = $("#ssto")[0].checked;
        var aliasName = $("#cAlias")[0].innerText;

        $.ajax({
            url: "/order/SearchAddrs",
            data: {
                shipName: shipName,
                addr: addr,
                aliasName:aliasName,
                isSpecialShip: isSpecialShip
            },
            type:"post",
            async:false,
            success: function (obj) {
                if (obj == "OverFlow")
                    alert("Please make condition more strict");
                var appElement = document.querySelector('[ng-controller=searchResultCtrl]');
                var scope = angular.element(appElement).scope();
                scope.resultData = obj;
                
                scope.$apply();
                $("#aliasSearch").modal("show");

            },
            error: function (obj)
            {
                alert("fail");
            }

        });
    }

    function ConfirmAddr()
    {
        for (var i = 0; i < $(".addrRadio").length ; i++) {
            if ($(".addrRadio")[i].checked)
            {
                var seq = $(".addrRadio")[i].attributes['seq'].value;
                var appElement = document.querySelector('[ng-controller=searchResultCtrl]');
                var scope = angular.element(appElement).scope();
                var selected = scope.resultData[seq];

                var appElement1 = document.querySelector('[ng-controller=orderCtrl]');
                var scope1 = angular.element(appElement1).scope();
                scope1.selectedAliasAddr = selected;
                scope1.GetAltAliasAddr(scope1.selectedAliasAddr.LocalDestName, scope1.selectedAliasAddr.LocalDestAddr1, scope1.selectedAlias.ALIAS_NAME);
                scope1.$apply();
                break;
            }
   
        }
        $("#aliasSearch").modal("hide");
    }

    function checkSstoStatu()
    {
        if ($("#ssto")[0].checked == false && $("#cAlias")[0].innerText != null)
            searchAddrs();
        if ($("#ssto")[0].checked == false && $("#cAlias")[0].innerText == null)
            alert("Please select a Cus Alias");
    }

</script>
