@{
    ViewBag.Title = "TC Maint";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid" id="tcMaintBody" ng-app="maintApp" ng-controller="maintCtrl">
    <div class="panel panel-default">
        <div class="panel-heading"><b>TC Maintenance</b></div>

        <form class="form-horizontal" id="searchForm">
            <div class="row" style="margin-top:20px;">
                <div class="form-group">
                    <label for="orderID" class="col-sm-2 control-label small">Part No.</label>
                    <div class="col-sm-2 col-lg-2">
                        <input type="text" class="form-control input-sm" ng-model="partNo" placeholder="Part No." id="txtPartNo">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="cAlias" class="col-sm-2 control-label">HS Code</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-sm" ng-model="hsCode" placeholder="HS Code">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="cAlias" class="col-sm-2 control-label">Declaration Name</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-sm" ng-model="declrName" placeholder="Declaration Name">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="poNum" class="col-sm-2 control-label">Element</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-sm" ng-model="element" placeholder="Element">
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-primary btn-sm" ng-click="searchAction()">Search</button>
                    </div>
                </div>

            </div>
        </form>
        <hr />

        <!--HS part upload form-->
        <div class="row">
            <form class="form-inline" name="hsForm" id="hsUpload">
                @*//method="post" action="/tc/UploadHSFile" enctype="multipart/form-data"*@
                <div class="col-sm-2 text-right">
                    <label style="margin-left:20px">HS Upload</label>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="hsFile">HS Upload</label>
                    <input type="file" name="fileInput" id="hsFile">
                </div>
                <button class="btn btn-primary btn-sm" onclick="uploadHSFile()">Upload</button>
                <button class="btn btn-primary btn-sm" onclick="downloadHSPartTemplate()">Download Template</button>
            </form>
        </div>

        <!--TC Category upload form-->
        <div class="row" style="margin-top:10px;margin-bottom:10px">
            <form class="form-inline" name="tcCateForm" id="tcCateUpload">
                @*enctype="multipart/form-data" method="post" action="/tc/UploadTCCateFile"*@
                <div class="col-sm-2 text-right">
                    <label style="margin-left:20px">TC Category Upload</label>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="exampleInputFile">TC Category Upload</label>
                    <input type="file" name="fileInput" id="exampleInputFile">
                </div>
                <button class="btn btn-primary btn-sm" onclick="uploadTCCateFile()">Upload</button>
                <button class="btn btn-primary btn-sm" onclick="downloadMPartTemplate()">Download Template</button>
            </form>
        </div>

        @*<div class="row" style="margin-top:15px;margin-bottom:10px">
            <div class="col-sm-2 text-left">
                <button class="btn btn-primary" onclick="addNewPart()">Add New Part</button>
            </div>
        </div>*@



        <!--Order List-->
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="panel panel-default" style="">
                    @*<div class="panel-heading">
                        <b>Order List</b>
                    </div>*@

                    <table id="tbOrders" class="table table-striped table-hover table-bordered .table-condensed">
                        <thead>
                            <tr>
                                <th style="">Part_No</th>
                                <th style="">申报品名</th>
                                <th style="">申报税号</th>
                                <th style="">申报要素</th>
                                <th style="">预归类1</th>
                                <th style="">预归类2</th>
                                <th style="">Operation</th>
                            </tr>
                        </thead>
                        <tbody style="">
                            <tr ng-repeat="r in result ">
                                <td style="">{{r.PART_NO}}</td>
                                <td>{{r.DECLARATION_NAME}}</td>
                                <td>{{r.HSCODE}}</td>
                                <td>{{r.ELEMENT}}</td>
                                <td>{{r.PRE_CODING1}}</td>
                                <td>{{r.PRE_CODING2}}</td>
                                <td style="text-align:center">
                                    <a href="javascript:void(0)" title="Detail" class="detailBtn" ng-click="viewDetail(r)"><span class="glyphicon glyphicon-send"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="margin-left:20px;margin-top:5px;">
                        <tm-pagination conf="paginationConf"></tm-pagination>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- TC Part HS modal-->
<div class="modal fade" id="partModal" role="dialog" aria-labelledby="result" aria-hidden="true" ng-app="partFormApp" ng-controller="partFormCtrl">
    <div class="modal-dialog" style="width:90%">
        @*//*@
        <div class="modal-content">
            <div class="modal-header">
                <h4>TC Part HS Form</h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal" id="partDetailForm">
                    <div class="row" style="margin-top:20px;">
                        <div class="form-group">
                            <label for="modalPartNo" class="col-sm-2 control-label small">Part_No</label>
                            <div class="col-sm-3 col-lg-3">
                                <input type="text" class="form-control input-sm" id="modalPartNo" ng-blur="checkPartNo()" ng-model="currentData.PART_NO" ng-readonly="editAction" placeholder="Part No.">
                            </div>

                            <label for="modalDesc" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalDesc" ng-model="currentData.DESCRIPTION" placeholder="Description" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="modalDeclrName" class="col-sm-2 control-label">申报品名</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalDeclrName" ng-model="currentData.DECLARATION_NAME" placeholder="Declaration Name">
                            </div>

                            <label for="modalHSCode" class="col-sm-2 control-label">申报税号</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalHSCode" ng-model="currentData.HSCODE" ng-blur="checkHSCODE()" placeholder="HSCode">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="modalNote3" class="col-sm-2 control-label">CIQ</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalNote3" ng-model="currentData.NOTE3" ng-focus="CIQChange()" placeholder="CIQ" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label form="modalCIQDESC" class="col-sm-2 control-label">CIQ货物名称</label>
                            <div class="col-sm-8">
                                <textarea class="form-control input-sm" id="modalCIQDESC" rows="5" ng-model="currentData.CIQDESC" placeholder="CIQ货物名称" readonly></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="modalMFNRate" class="col-sm-2 control-label">最惠国关税</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalMFNRate" ng-model="currentData.MFN_RATE" placeholder="MFN Rate" readonly>
                            </div>

                            <label for="modalTaxRate" class="col-sm-2 control-label">关税</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalTaxRate" ng-model="currentData.TAX_RATE" placeholder="Tax Rate">
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="form-group">
                            <label for="modalTaxRFRate" class="col-sm-2 control-label">退税率</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalTaxRFRate" ng-model="currentData.TAX_REFUND_RATE" placeholder="Tax Refund Rate" readonly>
                            </div>

                            <label for="modalUOM" class="col-sm-2 control-label">计量单位</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalUOM" ng-model="currentData.UOM" placeholder="UOM" readonly>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group">
                            <label for="modalElement" class="col-sm-2 control-label">申报要素</label>
                            <div class="col-sm-8">
                                <textarea class="form-control input-sm" id="modalElement" rows="5" ng-model="currentData.ELEMENT" placeholder="Element"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="modalElementCK" class="col-sm-2 control-label">申报要素(参考)</label>
                            <div class="col-sm-8">
                                <textarea class="form-control input-sm" id="modalElementCK" rows="5" ng-model="currentData.ELEMENTCK" placeholder="申报要素(参考)" readonly></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="modalPreCoding1" class="col-sm-2 control-label">预归类1</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalPreCoding1" ng-model="currentData.PRE_CODING1" placeholder="Pre Coding1">
                            </div>

                            <label for="modalPreCoding2" class="col-sm-2 control-label">预归类2</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalPreCoding2" ng-model="currentData.PRE_CODING2" placeholder="Pre Coding2">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="modalPreCoding3" class="col-sm-2 control-label">预归类3</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalPreCoding3" ng-model="currentData.PRE_CODING3" placeholder="Pre Coding3">
                            </div>

                            <label for="modalRegulation" class="col-sm-2 control-label">监管条件</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalRegulation" ng-model="currentData.REGULATION" placeholder="Regulation" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="modalInspection" class="col-sm-2 control-label">检验检疫</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalInspection" ng-model="currentData.INSPECTION" placeholder="Inspection">
                            </div>

                            <label for="modalExpertise" class="col-sm-2 control-label">专家意见</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalExpertise" ng-model="currentData.EXPERTISE" placeholder="Expertise">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="modalVoltage" class="col-sm-2 control-label">额定电压</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalVoltage" ng-model="currentData.VOLTAGE" placeholder="Voltage">
                            </div>

                            <label for="modalNote1" class="col-sm-2 control-label">工程师确认的品名</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalNote1" ng-model="currentData.NOTE1" placeholder="Note1">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="modalNote2" class="col-sm-2 control-label">备注2</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalNote2" ng-model="currentData.NOTE2" placeholder="Note2">
                            </div>
                            <label for="modalFlex1" class="col-sm-2 control-label">预留字段1</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalFlex1" ng-model="currentData.FLEX1" placeholder="Flex1">
                            </div>

                            @*<label for="modalNote3" class="col-sm-2 control-label">备注3</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalNote3" ng-model="currentData.NOTE3" placeholder="Note3">
                            </div>*@
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="modalFlex2" class="col-sm-2 control-label">预留字段2</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalFlex2" ng-model="currentData.FLEX2" placeholder="Flex2">
                            </div>
                            <label for="modalFlex3" class="col-sm-2 control-label">预留字段3</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalFlex3" ng-model="currentData.FLEX3" placeholder="Flex3">
                            </div>
                        </div>
                    </div>

                    @*<div class="row">
                        <div class="form-group">

                        </div>
                    </div>*@

                    <div class="row">
                        <div class="form-group">
                            <label for="modalCateSys" class="col-sm-2 control-label">CategoryBySys</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalCateSys" ng-model="currentData.TC_CATEGORY_BY_SYS" readonly>
                            </div>

                            <label for="modalCateMan" class="col-sm-2 control-label">CategoryByMan</label>
                            <div class="col-sm-3">
                                <select class="form-control input-sm" ng-change="onCateChange()" id="orderType" ng-model="selectCate" ng-options="ot.TC_CATEGORY_ID for ot in cateList">
                                    <option value="">---Please select---</option>
                                </select>

                                @*<input type="text" class="form-control input-sm" id="modalCateMan" ng-model="currentData.TC_CATEGORY_BY_MAN" placeholder="Category By Man">*@
                            </div>
                        </div>
                    </div>

                </form>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button type="button" class="btn btn-primary" ng-click="copyfrom()" ng-disabled="CanClick">COPYFROM</button>
                        <button type="button" class="btn btn-primary" ng-click="showAuditLog()">Audit Log</button>
                        <button type="button" class="btn btn-primary" ng-click="saveAction()">Save</button>
                        <button type="button" class="btn btn-primary" ng-click="cancel()">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="copyModal" role="dialog" aria-labelledby="result" aria-hidden="true" ng-app="copyFormApp" ng-controller="copyFormCtrl" style="height:800px;overflow-y:auto;">
    <div class="modal-dialog" style="width:70%;">
        <div class="modal-content panel panel-default" style="height: 600px;overflow-y: auto;overflow-x: hidden;">
            <div class="panel panel-heading">
                Query
            </div>
            <form class="form-horizontal">
                <div class="row" style="margin-top:20px;">
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">PART NO</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control input-sm" ng-model="copyPartNo" placeholder="PART NO" />
                        </div>
                        <div class="col-sm-2">
                            <input type="button" class="btn btn-primary btn-sm" ng-click="search()" value="Search" />
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="panel panel-default">
                        @*<div class="panel panel-heading">
                            Result
                        </div>*@
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>PART NO</th>
                                    <th>DECLARATION NAME</th>
                                    <th>HSCODE</th>
                                    <th>Operation</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="r in copyresult">
                                    <td>{{r.PART_NO}}</td>
                                    <td>{{r.DECLARATION_NAME}}</td>
                                    <td>{{r.HSCODE}}</td>
                                    <td>
                                        <input type="button" class="btn btn-primary btn-sm" ng-click="OKAction(r)" value="OK" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--Audit Log Modal-->
<div class="modal fade" id="auditLogModal" role="dialog" aria-labelledby="result" aria-hidden="true" ng-app="auditLogApp" ng-controller="auditLogCtrl">
    <div class="modal-dialog" style="width:60%">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Audit Log Form {{partNo}}</h4>
            </div>

            <div class="modal-body">

                <table id="tbAuditLog" class="table table-striped table-hover table-bordered .table-condensed">
                    <thead>
                        <tr>
                            <th style="">Part_No</th>
                            <th style="">Audit Field</th>
                            <th style="">New Value</th>
                            <th style="">Old Value</th>
                            <th style="">Activity Date</th>
                        </tr>
                    </thead>
                    <tbody style="">
                        <tr ng-repeat="al in auditLog ">
                            <td style="">{{al.PART_NO}}</td>
                            <td>{{al.AUDIT_FIELD}}</td>
                            <td>{{al.N_VALUE}}</td>
                            <td>{{al.O_VALUE}}</td>
                            <td>{{al.ACTIVITY_DATE | date:'yyyy-MM-dd'}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


<!--CIQ CHANGE-->
<div class="modal fade" id="CIQModal" tabindex="-1" role="dialog" aria-labelledby="result" aria-hidden="true" ng-app="ciqListApp" ng-controller="ciqListCtrl">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    CIQ LISTS
                </h4>
            </div>
            <div class="modal-body" style="padding:0;">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="width: 3%;"></th>
                            <th>CIQ</th>
                            <th>CIQ货物名称</th>
                            <th>NOTE</th>
                            @*<th style="width:5%;">Operation</th>*@
                        </tr>
                    </thead>
                    <tbody id="CIQResultTbody">
                        <tr ng-repeat="r in ciqList">
                            <td><input type="radio" name="Radio" ng-model="$parent.modalCIQ" value="{{r.CIQ}}" /></td>
                            <td>{{r.CIQ}}</td>
                            <td>{{r.GOOD_DESC}}</td>
                            <td>{{r.NOTE}}</td>
                            @*
                            <td><input type="button" class="btn btn-primary btn-sm" ng-click="SaveCiq(r)" value="Save" /> </td>*@
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4"><input type="button" class="btn btn-primary btn-sm" ng-click="SaveCIQ()" value="OK" /></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    $("#txtPartNo").on('input propertychange', function () {
        $("#txtPartNo").val($(this).val().toUpperCase());
    })

    angular.module('maintApp', ['tm.pagination']).controller('maintCtrl', function ($scope, $http) {
        $scope.result = [];
        $scope.partNo = "";
        $scope.hsCode = "";
        $scope.declrName = "";
        $scope.element = "";
        $scope.loading = true;

        $scope.paginationConf = {
            currentPage: 1,
            itemsPerPage: 10,
            totalItems: 0,
            pagesLength: 3,
            perPageOptions: [10, 20, 30, 40, 50],
        };

        $scope.$watch('paginationConf.currentPage + paginationConf.itemsPerPage', searchHSPart);


        $scope.searchAction = function () {
            searchHSPart();
        }

        function searchHSPart() {
            if ($scope.loading) {
                //first time load ignore
                $scope.loading = false;
                return;
            }
            if ($scope.partNo == "" && $scope.hsCode == "" && $scope.declrName == "" && $scope.element == "") {
                alert("No Condition");
                return;
            }


            $.ajax({
                url: "/TC/QueryAction",
                data: {
                    partNo: $scope.partNo,
                    hsCode: $scope.hsCode,
                    declrName: $scope.declrName,
                    element: $scope.element,
                    currentPage: $scope.paginationConf.currentPage,
                    pageSize: $scope.paginationConf.itemsPerPage
                },
                type: "post",
                async: false,
                success: function (obj) {

                    $scope.result = obj.result;
                    $scope.paginationConf.totalItems = obj.totalCount;

                },
                error: function (obj) {
                    alert(obj.responseText);
                }
            });
        };

        $scope.viewDetail = function (obj) {
            var appElement = document.querySelector('[ng-controller=partFormCtrl]');
            var scope = angular.element(appElement).scope();
            GetGOOD_DESC(obj);
            GetELEMENTCK(obj);
            scope.currentData = obj;
            if (scope.currentData.HSCODE != null)
                scope.CanClick = true;
            else
                scope.CanClick = false;
            scope.beginEdit();

            scope.$apply();
            $("#partModal").modal("show");
        }

        function GetGOOD_DESC(data) {
            $.ajax({
                url: '/tc/GetGOOD_DESC',
                type: 'post',
                async: false,
                data: {
                    HSCODE: data.HSCODE,
                    CIQ: data.NOTE3
                },
                success: function (obj) {
                    if (obj.Success)
                        data.CIQDESC = obj.Data;
                    else
                        alert(obj.Msg);
                },
                error: function (e) {
                    alert(e.responseText);
                }
            })
        };
        function GetELEMENTCK(data) {
            $.ajax({
                url: '/tc/GetELEMENTCK',
                type: 'post',
                async: false,
                data: {
                    PART_NO: data.PART_NO
                },
                success: function (obj) {
                    if (obj.Success)
                        data.ELEMENTCK = obj.Data;
                    else
                        alert(obj.Msg);
                },
                error: function (e) {
                    alert(e.responseText);
                }
            });
        }


    });

    //manual load app
    angular.bootstrap(document.getElementById("tcMaintBody"), ['maintApp']);

    //For part modal part
    angular.module('partFormApp', []).controller('partFormCtrl', function ($scope, $http) {
        //Alias addres list
        $scope.currentData = {};
        $scope.editAction = false;
        $scope.selectCate = "";
        $scope.cateList = [];
        $scope.CanClick = false;

        //Get sys man status list
        $http.post("/tc/InitTCPartForm", null, null).then(function (resp) {
            $scope.cateList = resp.data;
        },
             function (resp) {
                 //debugger;
                 alert("Fail!");
                 // $scope.resp = resp;
             });

        //$http.post("/tc/GetGOOD_DESC", { HSCODE: $scope.currentData.HSCODE, CIQ: $scope.currentData.NOTE3 }, null).then(
        //    function (obj) {
        //        if (obj.data.Success) {
        //            $scope.currentData.CIQDESC = obj.data.Data;
        //        }
        //        else
        //            alert(obj.data.Msg);
        //    },
        //    function (resp) {
        //        alert("Fail!");
        //    }
        //   );


        //only For add function using  , can delete
        $scope.checkPartNo = function () {
            if ($scope.currentData.PART_NO == "" || $scope.currentData.PART_NO == null)
                return;

            $.ajax({
                url: "/TC/CheckPartNo",
                data: { partNo: $scope.currentData.PART_NO },
                type: "post",
                async: false,
                success: function (obj) {
                    $scope.currentData.DESCRIPTION = obj;
                },
                error: function (obj) {
                    alert("wrong part No.");
                    //alert(obj.responseText);
                }
            });
        }
        $scope.checkHSCODE = function () {
            if ($scope.currentData.HSCODE == "" || $scope.currentData.HSCODE == null)
                return;
            $.ajax({
                url: '/tc/CheckHSCODE',
                type: 'post',
                async: false,
                data: {
                    HSCODE: $scope.currentData.HSCODE
                },
                success: function (obj) {
                    if (obj.Success)
                        GetCIQLists();
                    else
                        alert(obj.Msg);
                },
                error: function (e) {
                    alert("fail to get");
                }
            });
        }

        $scope.onCateChange = function () {
            //debugger;
            if ($scope.selectCate != null)
                $scope.currentData.TC_CATEGORY_BY_MAN = $scope.selectCate.TC_CATEGORY_ID;
            else
                $scope.currentData.TC_CATEGORY_BY_MAN = null;
        }

        $scope.beginEdit = function () {
            //debugger;
            $scope.editAction = true;
            if ($scope.currentData.TC_CATEGORY_BY_MAN != null) {
                for (var i = 0; i < $scope.cateList.length; i++) {
                    if ($scope.cateList[i].TC_CATEGORY_ID == $scope.currentData.TC_CATEGORY_BY_MAN) {
                        $scope.selectCate = $scope.cateList[i];
                        break;
                    }
                }
            }
            else {
                $scope.selectCate = "";
            }
        }

        //For add function using  , can delete
        $scope.beginAdd = function () {
            $scope.currentData = {
                PART_NO: "", DESCRIPTION: "", TC_CATEGORY_BY_SYS: "", TC_CATEGORY_BY_MAN: "", DECLARATION_NAME: "", HSCODE: "",
                MFN_RATE: "", TAX_RATE: "", TAX_REFUND_RATE: "",
                UOM: "", ELEMENT: "", PRE_CODING1: "", PRE_CODING2: "", PRE_CODING3: "",
                REGULATION: "",
                INSPECTION: "",
                EXPERTISE: "",
                VOLTAGE: "",
                NOTE1: "", NOTE2: "", NOTE3: "",
                FLEX1: "", FLEX2: "", FLEX3: ""
            };
            $scope.selectCate = "";
            $scope.editAction = false;
        }

        $scope.saveAction = function () {
            //debugger;
            $.ajax({
                url: "/TC/SaveAction",
                data: JSON.stringify({ mdmAll: $scope.currentData }),
                type: "post",
                async: false,
                contentType: 'application/json',
                success: function (obj) {
                    $("#partModal").modal("hide");
                    alert(obj);
                    //debugger;
                },
                error: function (obj) {
                    alert(obj.responseText);
                }
            });
        };

        $scope.cancel = function () {
            $scope.currentData = {};
            $("#partModal").modal("hide");
        }

        $scope.showAuditLog = function () {
            //debugger;
            var appElement = document.querySelector('[ng-controller=auditLogCtrl]');
            var scope = angular.element(appElement).scope();
            scope.partNo = $scope.currentData.PART_NO;
            scope.loadAuditLog();
            scope.$apply();
            $("#auditLogModal").modal("show");
        }

        $scope.copyfrom = function () {
            var part_no = $scope.currentData.PART_NO;
            var appElement = document.querySelector('[ng-controller=copyFormCtrl]');
            var scope = angular.element(appElement).scope();
            scope.copyPartNo = "";
            scope.copyresult = [];
            scope.PART_NO = part_no;

            scope.$apply();
            $("#copyModal").modal("show");
        }

        $scope.CIQChange = function () {
            //var CIQ = $("#modalNote3").val();
            //$scope.currentData.CIQDESC = CIQ;

            GetCIQLists();

            // $("#CIQModal").modal("show");
        }

        function GetCIQLists() {
            $.ajax({
                url: '/tc/GetCIQLists',
                type: 'post',
                async: false,
                data: {
                    HSCODE: $scope.currentData.HSCODE
                },
                success: function (obj) {
                    if (obj.Success) {
                        var ciqElement = document.querySelector('[ng-controller=ciqListCtrl]');
                        var scope = angular.element(ciqElement).scope();
                        scope.ciqList = obj.Data;
                        scope.$apply();
                        $("#CIQModal").modal("show");
                    }
                },
                error: function (e) {
                    alert("fail to get");
                }
            });
        }


    });

    //Add second app to document
    angular.bootstrap(document.getElementById("partModal"), ['partFormApp']);


    //CIQ
    angular.module("ciqListApp", []).controller("ciqListCtrl", function ($scope, $http) {
        $scope.ciqList = [];
        $scope.modalCIQ = "";

        //$scope.SaveCiq = function (data) {
        //    //alert(data.CIQ);
        //    SaveCIQ(data);
        //};

        $scope.SaveCIQ = function () {
            var data = {};
            var CIQ = $scope.modalCIQ;
            var CIQDESC="";
            for (var i = 0; i < $scope.ciqList.length; i++) {
                if ($scope.ciqList[i].CIQ == CIQ) {
                    CIQDESC = $scope.ciqList[i].GOOD_DESC;
                    break;
                }                    
            }
            data.CIQ = CIQ;
            data.GOOD_DESC = CIQDESC;
            SaveCIQ(data);
        };

        function SaveCIQ(data) {
            var CIQ = data.CIQ;
            var GOOD_DESC = data.GOOD_DESC;
            var partElement = document.querySelector('[ng-controller=partFormCtrl]');
            var scope = angular.element(partElement).scope();
            scope.currentData.NOTE3 = CIQ;
            scope.currentData.CIQDESC = GOOD_DESC;
            scope.$apply();
            $("#CIQModal").modal("hide");
        }


    });
    angular.bootstrap(document.getElementById("CIQModal"), ['ciqListApp']);


    angular.module('copyFormApp', []).controller('copyFormCtrl', function ($scope, $http) {
        $scope.copyresult = [];
        $scope.copyPartNo = "";
        $scope.PART_NO = "";
        $scope.search = function () {
            if ($scope.copyPartNo == "") {
                alert("No Data Input");
                return false;
            }
            $.ajax({
                url: '/tc/CopySearch',
                type: 'post',
                async: false,
                data: {
                    PART_NO: $scope.copyPartNo
                },
                success: function (obj) {
                    if (obj.Success) {
                        //alert(1);
                        $scope.copyresult = obj.Data;
                    }
                    else
                        alert(obj.Msg);
                },
                error: function (e) {
                    alert(e.responseText);
                }
            })
        }
        $scope.OKAction = function (obj) {
            var PART_NO = obj.PART_NO;
            $.ajax({
                url: '/tc/CopyData',
                type: 'post',
                async: false,
                data: {
                    PART_NO: PART_NO
                },
                success: function (obj) {
                    if (obj.Success) {
                        var part_no = $scope.PART_NO;
                        var appElement = document.querySelector('[ng-controller=partFormCtrl]');
                        var scope = angular.element(appElement).scope();
                        scope.currentData = obj.Data;
                        scope.currentData.PART_NO = part_no;

                        scope.$apply();
                        $("#copyModal").modal("hide");
                    }
                    else
                        alert(obj.Msg);
                },
                error: function (e) {
                    alert("fail to copy");
                }
            })
        }
    });
    angular.bootstrap(document.getElementById("copyModal"), ['copyFormApp']);



    //Audit log part
    angular.module('auditLogApp', []).controller('auditLogCtrl', function ($scope, $http) {

        $scope.partNo = "";
        $scope.auditLog = [];

        $scope.loadAuditLog = function () {

            $.ajax({
                url: "/TC/GetPartAuditLog",
                data: { partNo: $scope.partNo },
                type: "post",
                async: false,
                success: function (obj) {
                    //debugger;
                    $scope.auditLog = obj;
                    //debugger;
                },
                error: function (obj) {
                    alert(obj.responseText);
                }
            });
        };

    });

    angular.bootstrap(document.getElementById("auditLogModal"), ['auditLogApp']);
</script>

<script>
    function uploadHSFile() {
        var form = $("form[name=hsForm]");
        var options = {
            url: '/tc/UploadHSFile',
            type: 'post',
            enctype: "multipart/form-data",
            success: function (data) {
                if (data.Success)
                    alert(data.Msg);
                else {
                    alert(data.Msg);
                }
            }
        };
        form.ajaxSubmit(options);
    }

    function uploadTCCateFile() {
        var form = $("form[name=tcCateForm]");
        var options = {
            url: '/tc/UploadTCCateFile',
            type: 'post',
            enctype: "multipart/form-data",
            success: function (data) {
                debugger;
                alert(data);
            }
        };
        form.ajaxSubmit(options);

        //$(function () {setInterval("link()",1000) });
    }

    function addNewPart() {
        var appElement = document.querySelector('[ng-controller=partFormCtrl]');
        var scope = angular.element(appElement).scope();
        scope.beginAdd();

        scope.$apply();
        $("#partModal").modal("show");
    }

    function downloadHSPartTemplate() {
        window.location.href = "/tc/DownloadHSFileTemplate";
    }

    function downloadMPartTemplate() {
        window.location.href = "/tc/DownloadMPartFileTemplate";
    }

</script>