
@{
    ViewBag.Title = "TC Query";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid" id="tcQueryBody" ng-app="tcQueryApp" ng-controller="tcQueryCtrl">
    <div class="panel panel-default">
        <div class="panel-heading"><b>TC Query</b></div>

        <form class="form-horizontal" id="searchForm">
            <div class="row" style="margin-top:20px;">
                <div class="form-group">
                    <label for="orderID" class="col-sm-2 control-label small">Part No.</label>
                    <div class="col-sm-2 col-lg-2">
                        <input type="text" class="form-control input-sm" ng-model="partNo" placeholder="Part No.">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="cAlias" class="col-sm-2 control-label">HS Code</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-sm" ng-model="hsCode" placeholder="HS Code">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="cAlias" class="col-sm-2 control-label">Declaration Name</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-sm" ng-model="declrName" placeholder="Declaration Name">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="poNum" class="col-sm-2 control-label">Element</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-sm" ng-model="element" placeholder="Element">
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-primary btn-sm" ng-click="searchAction()">Search</button>
                    </div>
                </div>

            </div>
        </form>
        
        <!--Order List-->
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="panel panel-default" style="">
                    @*<div class="panel-heading">
                        <b>Order List</b>
                    </div>*@

                    <table id="tbMDMAll" class="table table-striped table-hover table-bordered .table-condensed">
                        <thead>
                            <tr>
                                <th style="">Part_No</th>
                                <th style="">申报品名</th>
                                <th style="">申报税号</th>
                                <th style="">申报要素</th>
                                <th style="">预归类1</th>
                                <th style="">预归类2</th>
                                <th style="">Operation</th>
                            </tr>
                        </thead>
                        <tbody style="">
                            <tr ng-repeat="r in result ">
                                <td style="">{{r.PART_NO}}</td>
                                <td>{{r.DECLARATION_NAME}}</td>
                                <td>{{r.HSCODE}}</td>
                                <td>{{r.ELEMENT}}</td>
                                <td>{{r.PRE_CODING1}}</td>
                                <td>{{r.PRE_CODING2}}</td>
                                <td style="text-align:center">
                                    <a href="javascript:void(0)" title="Detail" class="detailBtn" ng-click="viewDetail(r)"><span class="glyphicon glyphicon-send"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="margin-left:20px;margin-top:5px;">
                        <tm-pagination conf="paginationConf"></tm-pagination>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- TC Part HS modal-->
<div class="modal fade" id="partReadModal" role="dialog" aria-labelledby="result" aria-hidden="true" ng-app="partReadFormApp" ng-controller="partReadFormCtrl">
    <div class="modal-dialog" style="width:90%" >@*//*@
        <div class="modal-content">
            <div class="modal-header">
                <h4>TC Part HS Form</h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal" id="partDetailForm">
                    <div class="row" style="margin-top:20px;">
                        <div class="form-group">
                            <label for="modalPartNo" class="col-sm-2 control-label small">Part_No</label>
                            <div class="col-sm-3 col-lg-3">
                                <input type="text" class="form-control input-sm" id="modalPartNo" ng-model="currentData.PART_NO" ng-readonly="isReadOnly" placeholder="Part No.">
                            </div>

                            <label for="modalDesc" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalDesc" ng-model="currentData.DESCRIPTION" ng-readonly="isReadOnly" placeholder="Description">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="modalDeclrName" class="col-sm-2 control-label">申报品名</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalDeclrName" ng-model="currentData.DECLARATION_NAME" ng-readonly="isReadOnly" placeholder="Declaration Name">
                            </div>

                            <label for="modalHSCode" class="col-sm-2 control-label">申报税号</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalHSCode" ng-model="currentData.HSCODE" ng-readonly="isReadOnly" placeholder="HSCode">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="modalMFNRate" class="col-sm-2 control-label">最惠国关税</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalMFNRate" ng-model="currentData.MFN_RATE" ng-readonly="isReadOnly" placeholder="MFN Rate">
                            </div>

                            <label for="modalTaxRate" class="col-sm-2 control-label">关税</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalTaxRate" ng-model="currentData.TAX_RATE" ng-readonly="isReadOnly" placeholder="Tax Rate">
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="form-group">
                            <label for="modalTaxRFRate" class="col-sm-2 control-label">退税率</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalTaxRFRate" ng-model="currentData.TAX_REFUND_RATE" ng-readonly="isReadOnly" placeholder="Tax Refund Rate">
                            </div>

                            <label for="modalUOM" class="col-sm-2 control-label">计量单位</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalUOM" ng-model="currentData.UOM" ng-readonly="isReadOnly" placeholder="UOM">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group">
                            <label for="modalElement" class="col-sm-2 control-label">申报要素</label>
                            <div class="col-sm-8">
                                <textarea class="form-control input-sm" id="modalElement" rows="5" ng-model="currentData.ELEMENT" ng-readonly="isReadOnly" placeholder="Element"></textarea>
                            </div>

                            
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group">
                            <label for="modalPreCoding1" class="col-sm-2 control-label">预归类1</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalPreCoding1" ng-model="currentData.PRE_CODING1" ng-readonly="isReadOnly" placeholder="Pre Coding1">
                            </div>

                            <label for="modalPreCoding2" class="col-sm-2 control-label">预归类2</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalPreCoding2" ng-model="currentData.PRE_CODING2" ng-readonly="isReadOnly" placeholder="Pre Coding2">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="modalPreCoding3" class="col-sm-2 control-label">预归类3</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalPreCoding3" ng-model="currentData.PRE_CODING3" ng-readonly="isReadOnly" placeholder="Pre Coding3">
                            </div>

                            <label for="modalRegulation" class="col-sm-2 control-label">监管条件</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalRegulation" ng-model="currentData.REGULATION" ng-readonly="isReadOnly" placeholder="Regulation">
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group">
                            <label for="modalInspection" class="col-sm-2 control-label">检验检疫</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalInspection" ng-model="currentData.INSPECTION" ng-readonly="isReadOnly" placeholder="Inspection">
                            </div>

                            <label for="modalExpertise" class="col-sm-2 control-label">专家意见</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalExpertise" ng-model="currentData.EXPERTISE" ng-readonly="isReadOnly" placeholder="Expertise">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="modalVoltage" class="col-sm-2 control-label">额定电压</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalVoltage" ng-model="currentData.VOLTAGE" ng-readonly="isReadOnly" placeholder="Voltage">
                            </div>

                            <label for="modalNote1" class="col-sm-2 control-label">备注1</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalNote1" ng-model="currentData.NOTE1" ng-readonly="isReadOnly" placeholder="Note1">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="modalNote2" class="col-sm-2 control-label">备注2</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalNote2" ng-model="currentData.NOTE2" ng-readonly="isReadOnly" placeholder="Note2">
                            </div>

                            <label for="modalNote3" class="col-sm-2 control-label">备注3</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalNote3" ng-model="currentData.NOTE3" ng-readonly="isReadOnly" placeholder="Note3">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="modalFlex1" class="col-sm-2 control-label">预留字段1</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalFlex1" ng-model="currentData.FLEX1" ng-readonly="isReadOnly" placeholder="Flex1">
                            </div>

                            <label for="modalFlex2" class="col-sm-2 control-label">预留字段2</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalFlex2" ng-model="currentData.FLEX2" ng-readonly="isReadOnly" placeholder="Flex2">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="modalFlex3" class="col-sm-2 control-label">预留字段3</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalFlex3" ng-model="currentData.FLEX3" ng-readonly="isReadOnly" placeholder="Flex3">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="modalCateSys" class="col-sm-2 control-label">CategoryBySys</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalCateSys" ng-model="currentData.TC_CATEGORY_BY_SYS" ng-readonly="isReadOnly" readonly>
                            </div>

                            <label for="modalCateMan" class="col-sm-2 control-label">CategoryByMan</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" id="modalCateMan" ng-model="currentData.TC_CATEGORY_BY_MAN" ng-readonly="isReadOnly" placeholder="Category By Man">
                            </div>
                        </div>
                    </div>

                </form>
                <div class="row">
                    <div class="col-md-4 col-md-offset-5">
                        <button type="button" class="btn btn-primary" ng-click="showAuditLog()">Audit Log</button>
                        <button type="button" class="btn btn-primary" ng-click="cancel()">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--Audit Log Modal-->
<div class="modal fade" id="auditLogModal" role="dialog" aria-labelledby="result" aria-hidden="true" ng-app="auditLogApp" ng-controller="auditLogCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Audit Log Form {{partNo}}</h4>
            </div>

            <div class="modal-body">

                <table id="tbAuditLog" class="table table-striped table-hover table-bordered .table-condensed">
                    <thead>
                        <tr>
                            <th style="">Part_No</th>
                            <th style="">Audit Field</th>
                            <th style="">New Value</th>
                            <th style="">Old Value</th>
                        </tr>
                    </thead>
                    <tbody style="">
                        <tr ng-repeat="al in auditLog ">
                            <td style="">{{al.PART_NO}}</td>
                            <td>{{al.AUDIT_FIELD}}</td>
                            <td>{{al.N_VALUE}}</td>
                            <td>{{al.O_VALUE}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<script>
    

    angular.module('tcQueryApp', ['tm.pagination']).controller('tcQueryCtrl', function ($scope, $http) {
        $scope.result = [];
        $scope.partNo = "";
        $scope.hsCode = "";
        $scope.declrName = "";
        $scope.element = "";
        $scope.loading = true;

        //new 
        $scope.paginationConf = {
            currentPage: 1,
            itemsPerPage: 10,
            totalItems: 0,
            pagesLength: 3,
            perPageOptions: [10, 20, 30, 40, 50],
        };

        $scope.$watch('paginationConf.currentPage + paginationConf.itemsPerPage', searchHSPart);


        $scope.searchAction = function () {
            searchHSPart();
        }

        function searchHSPart() {
            if ($scope.loading) {
                //first time load ignore
                $scope.loading = false;
                return;
            }
            if ($scope.partNo == "" && $scope.hsCode == "" && $scope.declrName == "" && $scope.element == "") {
                alert("No Condition");
                return;
            }

            $.ajax({
                url: "/TC/QueryAction",
                data: {
                    partNo: $scope.partNo,
                    hsCode: $scope.hsCode,
                    declrName: $scope.declrName,
                    element: $scope.element,
                    currentPage: $scope.paginationConf.currentPage,
                    pageSize: $scope.paginationConf.itemsPerPage
                },
                type: "post",
                async: false,
                success: function (obj) {

                    $scope.result = obj.result;
                    $scope.paginationConf.totalItems = obj.totalCount;

                },
                error: function (obj) {
                    alert(obj.responseText);
                }
            });
        };

        $scope.viewDetail = function(obj)
        {
            var appElement = document.querySelector('[ng-controller=partReadFormCtrl]');
            var scope = angular.element(appElement).scope();
            scope.currentData = obj;

            scope.$apply();
            $("#partReadModal").modal("show");
        }

    });

    //manual load app
    angular.bootstrap(document.getElementById("tcQueryBody"), ['tcQueryApp']);

    //For part modal part
    angular.module('partReadFormApp', []).controller('partReadFormCtrl', function ($scope, $http) {
        //Alias addres list
        $scope.currentData = "";
        $scope.isReadOnly = true;

        //Get sys man status list

        $scope.cancel = function () {
            $("#partReadModal").modal("hide");
        }

        $scope.showAuditLog = function () {
            //debugger;
            var appElement = document.querySelector('[ng-controller=auditLogCtrl]');
            var scope = angular.element(appElement).scope();
            scope.partNo = $scope.currentData.PART_NO;
            scope.loadAuditLog();
            scope.$apply();
            $("#auditLogModal").modal("show");
        }


    });

    //Add second app to document
    angular.bootstrap(document.getElementById("partReadModal"), ['partReadFormApp']);

    //Audit log part
    angular.module('auditLogApp', []).controller('auditLogCtrl', function ($scope, $http) {

        $scope.partNo = "";
        $scope.auditLog = [];

        $scope.loadAuditLog = function () {

            $.ajax({
                url: "/TC/GetPartAuditLog",
                data: { partNo: $scope.partNo },
                type: "post",
                async: false,
                success: function (obj) {
                    //debugger;
                    $scope.auditLog = obj;
                    //debugger;
                },
                error: function (obj) {
                    alert(obj.responseText);
                }
            });
        };

    });

    angular.bootstrap(document.getElementById("auditLogModal"), ['auditLogApp']);
</script>
