@{
    ViewBag.Title = "Mobile LBScan_M";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}

<div class="container-fluid">
    
</div>


@Html.Partial("_LoadingModal")




<script type="text/javascript">
    $(document).ready(function () {
        
    })


</script>



<script>
    $(document).ready(function () {
        //debugger;
        var ss = window.innerHeight;
        $("#imgDiag").css("margin-top", "300px");
    });
</script>