
@{
    ViewBag.Title = "Carrier Mapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid" id="carMstBody" ng-app="carMstApp" ng-controller="carMstCtrl">
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color:silver"><b>Carrier Mapping Panel</b></div>

        <form class="form-horizontal" id="searchForm">

            <div class="row" style="margin-top:30px;">
                <div class="form-group">
                    <label for="ex1_value" class="col-sm-2 control-label">Code</label>
                    <div class="col-sm-3">

                        <autocomplete id="ex1"
                                      placeholder="Code"
                                      pause="100"
                                      selectedobject="carCode"
                                      localdata="distinctCarCode"
                                      datafield="CarCode"
                                      searchfields="CarCode"
                                      titlefield="CarCode"
                                      descriptionfield="CarName"
                                      minlength="1"
                                      inputclass="form-control input-sm" />

                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-primary btn-sm" ng-click="searchAction()">Search</button>
                    </div>
                </div>
            </div>

            
        </form>

        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="panel panel-default" style="">
                    <div class="panel-heading">
                        <b>Result</b>
                    </div>

                    <table id="tbCarMst" class="table table-striped table-hover table-bordered .table-condensed">
                        <thead>
                            <tr>
                                <th style="">Index</th>
                                <th style="">WareHouse</th>
                                <th style="">Carrier Code</th>

                                <th style="">Carrier Name</th>
                                <th style="">Way Bill ID</th>
                                <th style="">Way Bill Desc</th>
                                <th style="">Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ca in carArray ">
                                <td style="">{{$index+1}}</td>
                                <td style="">{{ca.WH_ID}}</td>
                                <td>{{ca.CARCOD}}</td>
                                <td>{{ca.CARNAM}}</td>
                                <td style="width:180px">
                                    <select class="form-control input-sm" id="wbID" ng-model="ca.WAYBILL_ID" ng-options="t.WAYBILL_ID as t.WAYBILL_ID for t in wayBillType"></select>
                                </td>
                                <td>{{}}</td>
                                <td style="width:80px;text-align:center">
                                    <a href="javascript:void(0)" title="Save" class="saveBtn" ng-click="save(ca)"><span class="glyphicon glyphicon-floppy-disk"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    
    angular.module('carMstApp', ['angucomplete']).controller('carMstCtrl', function ($scope, $http) {
        $scope.selectCarCode = "";
        $scope.carCode = "";
        $scope.carArray = [];

        $scope.distinctCarCode = [];
        $scope.wayBillType = [];
    
        $http.post("/rp/CarMstInit", null, null).then(
            function (obj) {
                //debugger;
                if (obj.data.Success) {
                    
                    $scope.distinctCarCode = obj.data.Data.carCodes;
                    $scope.wayBillType = obj.data.Data.wbType;

                }
                else
                    alert(obj.data.Msg)
            },
             function (resp) {
                 debugger;
                 alert("Fail!");
             }
            );

        $scope.searchAction = function () {
            if ($scope.carCode == "")
                return;
            //debugger;
            $.ajax({
                url: "/rp/GetCarList",
                data: { carCode: $scope.carCode.originalObject.CarCode },
                type: "post",
                async: false,
                success: function (obj) {
                    $scope.carArray = obj.Data;
                },
                error: function (obj) {
                    alert("fail to get Sys ID List Data");
                }

            });
        };

        $scope.save = function (obj) {

            $.ajax({
                url: "/rp/SaveCarWayBillID",
                data: JSON.stringify({ car: obj }),
                type: "post",
                async: false,
                contentType: 'application/json',
                success: function (obj) {
                    alert(obj.Msg);
                },
                error: function (obj) {
                    alert("fail to Save Data");
                }

            });
        };


    });

    //manual load app
    angular.bootstrap(document.getElementById("carMstBody"), ['carMstApp']);


</script>

<script>


</script>