
@{
    ViewBag.Title = "Way Bill Print";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid" id="wbPrintBody" ng-app="wbPrintApp" ng-controller="wbPrintCtrl">
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color:silver"><b>Way Bill Print Panel </b></div>

        <form class="form-horizontal" id="searchForm">

            <div class="row" style="margin-top:30px;">
                <div class="form-group">
                    <label for="txtWhID" class="col-sm-2 control-label">WareHouse</label>
                    <div class="col-sm-2">
                        <select class="form-control input-sm" id="txtWhID" ng-model="whID" ng-disabled="defWHID!=''&&defWHID!=null  " ng-options="w.WH_ID as w.WH_ID for w in appWHList"></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="txtCarCode" class="col-sm-2 control-label">Carrier Code</label>
                    <div class="col-sm-2">
                        <autocomplete id="ex1"
                                      placeholder="Carrier Code"
                                      pause="100"
                                      selectedobject="carCode"
                                      localdata="carCodeList"
                                      datafield="CarCode"
                                      searchfields="CarCode"
                                      titlefield="CarCode"
                                      descriptionfield="CarName"
                                      minlength="1"
                                      inputclass="form-control input-sm" />
                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="txtCustName" class="col-sm-2 control-label">Customer Name</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-sm" id="txtCustName" ng-model="custName" placeholder="Customer Name">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="txtAddress" class="col-sm-2 control-label">Address</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-sm" id="txtAddress" ng-model="address" placeholder="Address">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="txtShipmentNo" class="col-sm-2 control-label">Shipment No.</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-sm" id="txtShipmentNo" ng-model="shipmentNo" placeholder="Shipment No.">
                    </div>
                    
                </div>

            </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-2">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox1" ng-model="staged" >Staged
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox2" ng-model="inProgress">In Progress
                        </label>
                    </div>
                    
                </div>
            </div>

            <div class="row" style="margin-bottom:15px;">
                <label class="col-sm-2 control-label">IHUB_Printed(Y/N)</label>
                <div class="col-sm-2">
                    <label class="checkbox-inline">
                        <input type="radio" name="inlineradio" style="padding:0px" ng-model="printed" value="''">All
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="inlineradio" style="padding:0px" ng-model="printed" value="N">Not Yet
                    </label>
                   
                </div>

                <div class="col-sm-2">
                    <button class="btn btn-primary btn-sm" ng-click="searchAction()">Search</button>
                </div>


                <div class="col-sm-2 col-sm-offset-4 text-right">
                    <button class="btn btn-primary btn-sm" ng-click="printSelected()">Print Selected</button>
                </div>
            </div>

        </form>

        <!--result part-->
        <div class="row" style="overflow-x:auto;">
            <div class="" style="margin-left:15px;width:98%;">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:silver"><b>Result</b></div>
                    <table id="tableResult" class="table  table-condensed"
                           data-detail-view="true"
                           undefinedText="''"></table>
                </div>
            </div>
        </div>



    </div>
</div>

<div class="modal " id="loadingModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog text-center" id="imgDiag">
            <img src="~/Images/loading.gif">
            <div class="row text-center" style="color:ivory">
                <b>Proccessing...</b>
            </div>
        </div>
    </div>

</div>


<script>

    angular.module('wbPrintApp', ['angucomplete']).controller('wbPrintCtrl', function ($scope, $http) {
        $scope.whID = "";
        //$scope.wbType = 'default';
        //$scope.stageDate = getDateString(new Date());
        $scope.carCode = "";
        $scope.custName = "";
        $scope.address = "";
        $scope.shipmentNo = "";
    //
        $scope.staged = true;
        $scope.inProgress = false;

        $scope.printed = "''";

        $scope.stagedSubmited = true;
        $scope.inProgressSubmited = false;

        $scope.wbHArray = [];
        //init part
        $scope.defWHID = "";
        $scope.appWHList = [];
        $scope.carCodeList = [];

        $scope.level1 = [];
        $scope.level2 = [];



        $http.post("/rp/init", null, null).then(
            function (obj) {
                //debugger;
                if (obj.data.Success) {
                    $scope.defWHID = obj.data.Data.defWHID;
                    $scope.appWHList = obj.data.Data.appWHList;

                    $scope.carCodeList = obj.data.Data.carCodeList;

                    $scope.whID = $scope.defWHID;
                }
                else
                    alert(obj.data.Msg)
            },
             function (resp) {
                 debugger;
                 alert("Fail!");
             }
            );


        $scope.searchAction = function () {
            if ($scope.whID == "")
                return;

            $('#tableResult').bootstrapTable('destroy');

            var realCarCode = "";
            if ($scope.carCode == "" || $scope.carCode==null)
                realCarCode = ""
            else
                realCarCode = $scope.carCode.originalObject.CarCode;

            $scope.stagedSubmited = $scope.staged;
            $scope.inProgressSubmited = $scope.inProgress;

            $.ajax({
                url: "/rp/GetWayBillBaseList",
                data: {
                    whID: $scope.whID,
                    carCode: realCarCode,
                    custName: $scope.custName,
                    Address: $scope.address,
                    shipmentNo: $scope.shipmentNo,
                    staged: $scope.stagedSubmited,
                    inProgress: $scope.inProgressSubmited,
                    printed: $scope.printed
                },
                type: "post",
                async: false,
                success: function (obj) {
                    //debugger;
                    $scope.level1 = obj.Data;
                    initPoTab()
                },
                error: function (obj) {
                    alert("fail to get Data");
                }

            });
        };

        $scope.printSelected = function ()
        {
            $currTable = $("#tableResult");
            //alert($currTable[0].innerHTML);
            var selectedRows = [];
            if ($currTable != null && $currTable.length != 0)
                selectedRows = $currTable.bootstrapTable('getSelections');

            if (selectedRows.length == 0) {
                alert("No selected rows");
                return;
            }
            var carTmp = selectedRows[0].CARCOD;
            for (var i = 0; i < selectedRows.length; i++) {
                if (selectedRows[i].CARCOD != carTmp)
                {
                    alert("Rows must Have same CARCOD");
                    return;
                }
            }

            $("#loadingModal").modal("show");

            $.ajax({
                url: "/rp/BatchPrint",
                data: JSON.stringify({
                    groups: selectedRows,
                    whID: $scope.whID,
                    shipmentNo: $scope.shipmentNo,
                    staged: $scope.stagedSubmited,
                    inProgress: $scope.inProgressSubmited,
                    printed: $scope.printed
                }),
                type: "post",
                async: true,
                contentType: 'application/json',
                success: function (obj) {
                    //debugger;
                    if (obj.Success) {
                        $("#loadingModal").modal("hide");
                        //debugger;
                        //window.location.href = obj.Data;
                        window.open(obj.Data);
                        //alert(obj.Msg)

                    }
                    else {
                        alert(obj.Msg);
                    }

                },
                error: function (obj) {
                    alert(obj.responseText);
                }
            });

        }

        //function getDateString(date) {
        //    return date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
        //}

        function initPoTab() {
            var $table = $('#tableResult');
            buildTable($table);
        };

        function expandlevel2($detail, pRow, index) {
            //debugger;
            var poNo = pRow.PUR_ORDER_ID;
            $t = $detail.html('<table data-click-to-select="true" class="tbLevel2" tag="level2" ></table>').find('table');
            //$t.attr("class", "table table-bordered table-condensed");
            $t.attr("margin-left", "200px");
            //debugger;
            var columns = [];
            var data = [];
            columns.push({
                field: 'state',
                checkbox: true,
                align: 'center',
                valign: 'middle'
            });
            columns.push({
                field: 'TRACK_NUM_IHUB',
                title: 'Track Num',
                cellStyle: numCellStyle

            });
            columns.push({
                field: 'SHIP_ID',
                title: 'Shipment No'
            });
            columns.push({
                field: 'SHPSTS',
                title: 'Status'
            });
            columns.push({
                field: 'STGDTE',
                title: 'Stage Date',
                formatter: dateFormatter
            });
            columns.push({
                field: 'ORDTYP',
                title: 'Order Type'
            });
            columns.push({
                field: 'BOXES',
                title: 'Boxes'
            });
            columns.push({
                field: 'VC_PALWGT',
                title: 'Weight'
            });
            columns.push({
                field: 'VOL_M3',
                title: 'Volumn(m3)'
            });
            columns.push({
                field: 'CUST_NO',
                title: 'Customer No'
            });
            columns.push({
                field: 'WAYBILL_ID',
                title: 'Way Bill ID'
            });
            columns.push({
                field: 'HOST_EXT_ID',
                title: 'Host Ext ID'
            });
            //var level2Data = [];
            //debugger;
            getLevel2Data(pRow.CARCOD, pRow.ORDTYP_WB, pRow.ADDR_COMBINED);

            $t.bootstrapTable({
                columns: columns,
                data: $scope.level2,
                detailView: false
            });
            $t.bootstrapTable('hideLoading');

        };

        function buildTable($t) {
            var columns = [];
            var data = [];

            //columns.push({
            //    field: 'state',
            //    checkbox: true,
            //    align: 'center',
            //    valign: 'middle'
            //});
            columns.push({
                field: 'ORDTYP_WB',
                title: 'Priority'
            });
            columns.push({
                field: 'CARCOD',
                title: 'Carrier Code'
            });
            columns.push({
                field: 'CARNAM',
                title: 'Carrier Name'
            });
            columns.push({
                field: 'ADDR_COMBINED',
                title: 'Address'
            });

            columns.push({
                field: '',
                title: 'Operation',
                width: '100',
                events: operateEvents,
                formatter: printOperationFormatter
            });
            columns.push({
                field: 'state',
                checkbox: true,
                align: 'center',
                valign: 'middle'
            });

            //columns.push({
            //    field: '',
            //    title: '',
            //    width: '1000'
            //});

            $t.bootstrapTable({
                columns: columns,
                data: $scope.level1,
                detailView: true,
                onExpandRow: function (index, row, $detail) {
                    expandlevel2($detail, row, index);
                }
            });
            $t.bootstrapTable('hideLoading');
        };


        //Formatter
        function dateFormatter(value, row, index) {
            if (value == undefined)
                return "";
            //if date has "()" not do format action
            if (value.indexOf(')') > 0)
                return value;

            if (value.length < 10)
                return value;
            return value.substr(0, 10);
        }

        function numCellStyle(value, row, index, field) {
            return { classes: '', css: { "background-color": row.COLOR } };
        }

        function printOperationFormatter(value, row, index) {
            return [
           '<a class="print" href="javascript:void(0)" title="Print">',
           '<i class="glyphicon glyphicon-print"></i>',
           '</a> '
            ].join('');
        }


        window.operateEvents = {
            'click .print': function (e, value, row, index) {
                //alert("print action");


                $currTable = $("#tableResult tr[data-index= '"+index+"' ] + tr table[tag=level2] ");
                //alert($currTable[0].innerHTML);
                var selectedRows = [];
                if ($currTable!=null &&  $currTable.length != 0)
                    selectedRows = $currTable.bootstrapTable('getSelections');
                //var $table = $('.tbLevel2');
                //var selectedRows = $table.bootstrapTable('getSelections')

                $.ajax({
                    url: "/rp/GetPrintFile",
                    data: JSON.stringify({
                        group: row,
                        selectedList: selectedRows,
                        whID: $scope.whID,
                        shipmentNo: $scope.shipmentNo,
                        staged: $scope.stagedSubmited,
                        inProgress: $scope.inProgressSubmited,
                        printed: $scope.printed
                    }),
                    type: "post",
                    async: false,
                    contentType: 'application/json',
                    success: function (obj) {
                        //debugger;
                        if (obj.Success) {
                            //debugger;
                            //window.location.href = obj.Data;
                            window.open(obj.Data);
                            //alert(obj.Msg)

                        }
                        else {
                            alert(obj.Msg);
                        }

                    },
                    error: function (obj) {
                        alert(obj.responseText);
                    }
                });
            }
        };

        function getLevel2Data(carCode, orderType,addr)
        {
            $.ajax({
                url: "/rp/GetWayBillDetailList",
                data: {
                    whID: $scope.whID,
                    carCode:carCode,
                    orderType: orderType,
                    addr: addr,
                    shipmentNo: $scope.shipmentNo,
                    staged: $scope.stagedSubmited,
                    inProgress: $scope.inProgressSubmited,
                    printed: $scope.printed
                },
                type: "post",
                async: false,
                success: function (obj) {
                    if (obj.Success) {
                        //debugger;
                        $scope.level2 = obj.Data;;

                    }
                    else {
                        alert(obj.Msg);
                    }

                },
                error: function (obj) {
                    alert(obj.responseText);
                }
            });
        }


    });

    //manual load app
    angular.bootstrap(document.getElementById("wbPrintBody"), ['wbPrintApp']);


</script>

<script>
    $(document).ready(function () {
        //debugger;
        var ss = window.innerHeight;
        $("#imgDiag").css("margin-top", "300px");

    });

</script>