
@{
    ViewBag.Title = "Part Label print";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid" id="labelBody" ng-app="labelApp" ng-controller="labelCtrl">
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color:silver"><b>Part Label print</b></div>

        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">Query by Parts</a></li>
            <li role="presentation"><a href="#profile" role="tab" data-toggle="tab">Query by Shipment</a></li>
        </ul>

        <!--content parts-->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">

                <div class="row" style="margin-top:15px;">
                    <div class="form-group">
                        <label for="txtPrintPartNo" class="col-sm-2 control-label text-right">Print PartNo</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control input-sm" id="txtPrintPartNo" ng-model="pPartNo_1" placeholder="Print Part No.">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label for="txtPartNo" class="col-sm-2 control-label text-right">Part No.</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control input-sm" id="txtPartNo" ng-model="partNo" placeholder="Part No.">
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom:10px;">
                    <div class="form-group">
                        
                        <label class="col-sm-2 control-label">Status</label>
                        <div class="col-sm-3">
                            <label class="checkbox-inline">
                                <input type="radio" name="inlineradio" ng-model="status" value="Y">Cummins Catalog
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="inlineradio" ng-model="status" value="N">UnCatalog
                            </label>
                        </div>

                        <div class="col-sm-2">
                            <button class="btn btn-primary btn-sm" ng-click="queryByPart()">Submit</button>
                        </div>
                    </div>
                </div>

            </div>

            <!--PO  tab-->
            <div role="tabpanel" class="tab-pane" id="profile">

                <div class="row" style="margin-top:15px;">
                    <div class="form-group">
                        <label for="txtShipNo" class="col-sm-2 control-label text-right">Shipment No.</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control input-sm" id="txtShipNo" ng-model="shipmentNo" placeholder="Shipment No.">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label for="txtBoxNo" class="col-sm-2 control-label text-right">Box Number</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control input-sm" id="txtBoxNo" ng-model="boxNo" placeholder="Box Number">
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom:10px;">
                    <div class="form-group">
                        <label for="txtPrintPartNo2" class="col-sm-2 control-label text-right">Print PartNo</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control input-sm" id="txtPrintPartNo2" ng-model="pPartNo_2" placeholder="Print PartNo">
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary btn-sm" ng-click="queryByShipment()">Submit</button>
                        </div>
                    </div>
                </div>


            </div>

        </div>



        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="panel panel-default" style="">
                    <div class="panel-heading">
                        <b>Result</b>
                    </div>

                    <table id="tbCarMst" class="table table-striped table-hover table-bordered .table-condensed">
                        <thead>
                            <tr>
                                <th style="">Index</th>
                                <th style="">Print Copies</th>
                                <th style="">Qty in Carton</th>

                                <th style="">Print PartNo</th>
                                <th style="">Part No</th>
                                <th style="">Description</th>
                                <th style="">Desc_CN</th>
                                <th style="">Desc Short</th>
                                <th style="">COO</th>
                                <th style="">WT(KG)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="r in result ">
                                <td style="">{{$index+1}}</td>
                                <td style="width:80px"><input class="form-control" ng-model="" /></td>
                                <td>{{r.QTY_IN_CARTON}}</td>
                                <td>{{r.PRINT_PART_NO}}</td>
                                <td>{{r.PART_NO}}</td>
                                <td>{{r.DESCRIPTION}}</td>
                                <td>{{r.DESC_CN}}</td>
                                <td>{{r.SHORT_DESCRIPTION}}</td>
                                <td >{{r.COUNTRY_OF_ORIGIN}}</td>
                                <td>{{r.PART_WEIGHT}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-md-2">
                            <select class="form-control input-sm" ng-model="selectedType" ng-options="tt.LABEL_CODE as tt.LABEL_CODE for tt in types"></select>
                        </div>

                        <div class="col-md-2">
                            <select class="form-control input-sm" ng-model="selectedPrinter" ng-options="p.PRINTER_ID as p.PRINTER_NAME for p in printers"></select>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


<script>
    
    angular.module('labelApp', []).controller('labelCtrl', function ($scope, $http) {
        //By parts part
        $scope.pPartNo_1 = "";
        $scope.partNo = "";
        $scope.status = "Y";

        //By shipment part
        $scope.shipmentNo = "";
        $scope.boxNo = "";
        $scope.pPartNo_2 = "";

        $scope.result = [];

        $scope.selectedPrinter = "";
        $scope.selectedType = "";

        //Init part
        $scope.defPrinter = "";
        $scope.printers = [];
        $scope.types = [];


        $http.post("/rp/LabelInit", null, null).then(
                function (obj) {
                    //debugger;
                    if (obj.data.Success) {
                        $scope.defPrinter = obj.data.Data.defPrinter;
                        $scope.printers = obj.data.Data.printers;
                        $scope.types = obj.data.Data.types;



                    }
                    else
                        alert(obj.data.Data.Msg)
                },
                 function (resp) {
                     debugger;
                     alert("Fail!");
                 }
                );

    
        

        $scope.queryByShipment = function () {
            if ($scope.carCode == "")
                return;
            //debugger;
            $.ajax({
                url: "/rp/GetCarList",
                data: { carCode: $scope.carCode.originalObject.CarCode },
                type: "post",
                async: false,
                success: function (obj) {
                    $scope.carArray = obj.Data;
                },
                error: function (obj) {
                    alert("fail to get Sys ID List Data");
                }

            });
        };

        $scope.queryByPart = function () {

            $.ajax({
                url: "/rp/QueryByParts",
                data: {
                    printPartNo:$scope.pPartNo_1, 
                    partNo:$scope.partNo, 
                    status:$scope.status
                    },
                type: "post",
                async: false,
                success: function (obj) {
                    if (obj.Success)
                        $scope.result = obj.Data;
                    else
                        alert(obj.Msg);
                },
                error: function (obj) {
                    alert("fail to Save Data");
                }

            });
        };

        $scope.wbIDChange = function (curr) {
            //debugger;
            for (var i = 0; i < $scope.wayBillType.length; i++) {
                if ($scope.wayBillType[i].WAYBILL_ID == curr.WAYBILL_ID) {
                    curr.WAYBILL_DESC = $scope.wayBillType[i].WAYBILL_DESC;
                    break;
                }
            }

        };

        $scope.clickTMSCheckBox = function (event, curr) {
            if (event.target.checked) {

                curr.SEND_TO_TMS = "Y";
            }
            else {
                curr.SEND_TO_TMS = "N";
            }
        };


    });

    //manual load app
    angular.bootstrap(document.getElementById("labelBody"), ['labelApp']);


</script>

<script>


</script>