
@{
    ViewBag.Title = "ITT Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/ngdatatimecss")
@Scripts.Render("~/bundles/ngdatetime")

<div class="container-fluid" id="ittIndexBody" ng-app="ittApp" ng-controller="ittCtrl" style="overflow:scroll">
    <div class="panel panel-default">
        <div class="panel-heading"><b>Will Bill Entry</b></div>

        <form class="form-horizontal" id="searchForm">

            <div class="row" style="margin-top:30px;">
                <div class="form-group">
                    <label for="txtWillBillNo" class="col-sm-2 control-label">Will Bill No.</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-sm" id="txtWillBillNo" ng-model="willBillNo" placeholder="Element">
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-primary btn-sm" ng-click="searchAction()">Search</button>
                    </div>
                </div>

            </div>
        </form>
      <hr />
        
        <!--Header-->
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="panel panel-default" style="">
                    <div class="panel-heading">
                        <b>Will Bill Header</b>
                    </div>

                    <table id="tbWillBillHeader" class="table table-striped table-hover table-bordered .table-condensed">
                        <thead>
                            <tr>
                                <th style="">Will Bill No.</th>
                                <th style="">From</th>
                                <th style="">Ship To</th>
                                <th style="">Ship Date</th>
                                <th style="">Depart Date</th>
                                <th style="">Arrival Date</th>
                                <th style="">Transport</th>
                                <th style="">Carrier Code</th>
                            </tr>
                        </thead>
                        <tbody style="" ng-show="hasData">
                            <tr>
                                <td style="">{{result[0].WILL_BILL_NO}}</td>
                                <td>{{result[0].FROM_SYSTEM}}</td>
                                <td>{{result[0].SHIP_TO_ABBR}}</td>
                                <td>{{result[0].SHIPMENT_DATE | date:'yyyy-MM-dd'}}</td>
                                <td>{{result[0].S00_DEPART_DATE | date:'yyyy-MM-dd'}}</td>
                                <td>{{result[0].S10_PORT_ARRIVAL_DATE | date:'yyyy-MM-dd'}}</td>
                                <td>{{result[0].TRAN_TYPE}}</td>
                                <td>{{result[0].CARRIER_CODE}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!--Details-->
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="panel panel-default" style="">
                    <div class="panel-heading">
                        <b>Will Bill Detail</b>
                    </div>

                    <table id="tbWillBillDetails" class="table table-striped table-hover table-bordered .table-condensed">
                        <thead>
                            <tr>
                                <th style="">Shipment No.</th>
                                <th style="">Invoice NO.</th>
                                <th style="">Type</th>
                                <th style="">DO Release Date</th>
                                <th style="">Arrival Date(300)</th>
                                <th style="">Out Date(300)</th>
                                <th style="">Arrival Date(305)</th>
                                <th style="">Lines</th>
                            </tr>
                        </thead>
                        <tbody style="">
                            <tr ng-repeat="r in result ">
                                <td style="">{{r.SHIPMENT_NO}}</td>
                                <td>{{r.INVOICE_NO}}</td>
                                <td>{{r.TC_GROUP}}</td>
                                <td>{{r.S20_DO_RELEASE_DATE | date:'yyyy-MM-dd'}}</td>
                                <td>{{r.S30_BND_ARRIVAL_DATE | date:'yyyy-MM-dd'}}</td>
                                <td>{{r.S40_BND_OUT_DATE | date:'yyyy-MM-dd'}}</td>
                                <td>{{r.S50_NBND_ARRIVAL_DATE | date:'yyyy-MM-dd'}}</td>
                                <td>{{r.SHIP_LINES}}</td> 
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--Transprottation part-->
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <button class="btn btn-primary" ng-click="transportClick()">Transportation</button>
                <div class="panel panel-default" style="" ng-show="showTran">
                    <div class="panel-heading">
                        <b>Transportation</b>
                    </div>

                    <table id="tbTransportation" ng-show="showTran" class="table table-striped table-hover table-bordered .table-condensed">
                        <thead>
                            <tr>
                                <th style="">From</th>
                                <th style="">Will Bill No.</th>
                                <th style="">Transport Method</th>
                                <th style="">Invoice No.</th>
                                <th style="">Depart Date</th>
                                <th style="">Arrival Date</th>
                                <th style="">Note</th>
                                <th style="">Load Date</th>
                                <th style="">Operation</th>
                            </tr>
                        </thead>
                        <tbody style="">
                            <tr ng-repeat="tran in ittTranLoadArray ">
                                <td style=""><input class="form-control" ng-model="tran.FROM_SYSTEM" ng-disabled="hasData" /></td>
                                <td><input class="form-control" ng-model="tran.WILL_BILL_NO" ng-disabled="hasData" /></td>
                                <td>
                                    <select class="form-control input-sm" ng-model="tran.TRAN_TYPE" ng-options="tt.TRAN_TYPE as tt.TRAN_TYPE for tt in ittTranTypeArray"></select>
                                </td>
                                <td><input class="form-control" ng-model="tran.INVOICE_NO" /></td> 
                                <td>
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" id="dropdown$index" role="button" data-toggle="dropdown" data-target="#" href="#">
                                            <div class="input-group">
                                                <input type="text" id="date$index" name="date" class="form-control" data-ng-model="tran.DEPART_DATE | date:'yyyy-MM-dd'">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="tran.DEPART_DATE"
                                                            data-datetimepicker-config="{ dropdownSelector: '#dropdown',minView:'day' }"></datetimepicker>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" id="dropdown$index" role="button" data-toggle="dropdown" data-target="#" href="#">
                                            <div class="input-group">
                                                <input type="text" id="date$index" name="date" class="form-control" data-ng-model="tran.ARRIVAL_DATE | date:'yyyy-MM-dd'">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="tran.ARRIVAL_DATE"
                                                            data-datetimepicker-config="{ dropdownSelector: '#dropdown',minView:'day' }"></datetimepicker>
                                        </ul>
                                    </div>
                                </td>
                                <td><input class="form-control" ng-model="tran.NOTE" /></td>
                                <td><input class="form-control" ng-model="tran.LOAD_DATE | date:'yyyy-MM-dd'" readonly/></td>
                                <td class="text-center"><a href="javascript:void(0)" title="Save" class="saveBtn" ng-click="saveTranLoad(tran)" ><span class="glyphicon glyphicon-floppy-disk"></span></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn-primary input-sm " id="btnNewLine" ng-click="addNewTran()">Add</button>
                </div>
            </div>
        </div>
        <!--Tran Load upload form-->
        <div class="row" ng-show="showTran">
            <form class="form-inline" name="tranLoadForm" id="tranLoadUpload">
                <div class="col-sm-2 text-right">
                    <label style="margin-left:20px">Tran Load Upload</label>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="hsFile">Tran Load Upload</label>
                    <input type="file" name="fileInput" id="tranLoadFile">
                </div>
                <button class="btn btn-primary btn-sm" onclick="uploadTranLoadFile()">Upload</button>
                <button class="btn btn-primary btn-sm" onclick="downloadTranLoadTemplate()">Download Template</button>
            </form>
        </div>
        <hr />
        <!--Cust Load upload form-->
        <div class="row" style="margin-top:10px;">
            <div class="col-md-12 col-lg-12">
                <button class="btn btn-primary" ng-click="customProcessClick()" ng-disabled="!hasData">Custom Process</button>
                <div class="panel panel-default" style="" ng-show="showCustomProcess">
                    <div class="panel-heading">
                        <b>Custom Process</b>
                    </div>

                    <table id="tbCustomeProcess" ng-show="showCustomProcess" class="table table-striped table-hover table-bordered .table-condensed">
                        <thead>
                            <tr>
                                <th style="">Will Bill No.</th>
                                <th style="">Type</th>
                                <th style="">DO Release Date</th>
                                <th style="">Arrival Date(300)</th>
                                <th style="">Out Date(300)</th>
                                <th style="">Arrival Date(305)</th>
                                <th style="">Load Date</th>
                                <th style="">Operation</th>
                            </tr>
                        </thead>
                        <tbody style="">
                            <tr ng-repeat="cust in ittCustomerProcessArray ">
                                <td><input class="form-control" ng-model="cust.WILL_BILL_NO" ng-disabled="hasData" /></td>
                                <td>
                                    <select class="form-control input-sm" ng-model="cust.TC_GROUP" ng-options="tg as tg for tg in TCGroupList"></select>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" id="dropdown$index" role="button" data-toggle="dropdown" data-target="#" href="#">
                                            <div class="input-group">
                                                <input type="text" id="date$index" name="date" class="form-control" data-ng-model="cust.DO_RELEASE_DATE | date:'yyyy-MM-dd'">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="cust.DO_RELEASE_DATE"
                                                            data-datetimepicker-config="{ dropdownSelector: '#dropdown',minView:'day' }"></datetimepicker>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" id="dropdown$index" role="button" data-toggle="dropdown" data-target="#" href="#">
                                            <div class="input-group">
                                                <input type="text" id="date$index" name="date" class="form-control" data-ng-model="cust.BND_ARRIVAL_DATE | date:'yyyy-MM-dd'">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="cust.BND_ARRIVAL_DATE"
                                                            data-datetimepicker-config="{ dropdownSelector: '#dropdown',minView:'day' }"></datetimepicker>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" id="dropdown$index" role="button" data-toggle="dropdown" data-target="#" href="#">
                                            <div class="input-group">
                                                <input type="text" id="date$index" name="date" class="form-control" data-ng-model="cust.BND_OUT_DATE | date:'yyyy-MM-dd'" ng-change="onOutDateChange(cust)">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="cust.BND_OUT_DATE"
                                                            data-datetimepicker-config="{ dropdownSelector: '#dropdown',minView:'day' }"
                                                            data-on-set-time="onOutDateChange(cust)"></datetimepicker>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" id="dropdown$index" role="button" data-toggle="dropdown" data-target="#" href="#">
                                            <div class="input-group">
                                                <input type="text" id="date$index" name="date" class="form-control" data-ng-model="cust.NBND_ARRIVAL_DATE | date:'yyyy-MM-dd'">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="cust.NBND_ARRIVAL_DATE"
                                                            data-datetimepicker-config="{ dropdownSelector: '#dropdown',minView:'day' }"></datetimepicker>
                                        </ul>
                                    </div>
                                </td>
                                <td><input class="form-control" ng-model="cust.LOAD_DATE | date:'yyyy-MM-dd'"  readonly/></td>
                                <td class="text-center"><a href="javascript:void(0)" title="Save" class="saveBtn" ng-click="saveCustLoad(cust)"><span class="glyphicon glyphicon-floppy-disk"></span></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn-primary input-sm " id="btnNewLine" ng-click="addNewCustProcess()">Add</button>
                </div>
            </div>
        </div>
        <!--Cust process upload form-->
        <div class="row" ng-show="showCustomProcess">
            <form class="form-inline" name="custForm" id="custUpload">
                <div class="col-sm-2 text-right">
                    <label style="margin-left:20px">Cust Process Upload</label>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="hsFile">Cust Process Upload</label>
                    <input type="file" name="fileInput" id="tranLoadFile">
                </div>
                <button class="btn btn-primary btn-sm" onclick="uploadCustFile()">Upload</button>
                <button class="btn btn-primary btn-sm" onclick="downloadCustLoadTemplate()">Download Template</button>
            </form>
        </div>

    </div>
</div>

<script>

    angular.module('ittApp', ['ui.bootstrap.datetimepicker']).controller('ittCtrl', function ($scope, $http,$timeout) {
        $scope.result = [];
        $scope.willBillNo = "";
        $scope.hasData = false;

        $scope.showTran = false;
        $scope.ittTranLoadArray = [];
        $scope.ittTranTypeArray = [];

        $scope.showCustomProcess = false;
        $scope.ittCustomerProcessArray = [];
        $scope.TCGroupList = [];

        $scope.searchAction = function () {
            $.ajax({
                url: "/itt/SearchWillBill",
                data: {
                    willBillNo: $scope.willBillNo
                },
                type: "post",
                async: false,
                success: function (obj) {
                    $scope.result = obj;
                    if ($scope.result != null && $scope.result.length>0)
                         $scope.hasData=true;
                },
                error: function (obj) {
                    alert("fail to get will bill Data");
                }

            });

        };

        $scope.transportClick = function () {
            GetTranTypeList();
            GetTranLoad();
            $scope.showTran = true;
        };

        $scope.addNewTran = function () {
            var newItem = {
                LOAD_BATCH_TOKEN: 0,
                WILL_BILL_NO: "",
                INVOICE_NO: "",
                DEPART_DATE: "",
                ARRIVAL_DATE: "",
                NOTE: "",
                TRAN_TYPE: "",
                FROM_SYSTEM: ""
            };
            if ($scope.hasData) {
                newItem.WILL_BILL_NO = $scope.result[0].WILL_BILL_NO;
                newItem.FROM_SYSTEM = $scope.result[0].FROM_SYSTEM;
            }


            $scope.ittTranLoadArray.push(newItem);
        };

        $scope.saveTranLoad = function (curr) {
            $.ajax({
                url: "/itt/SaveTranLoad",
                data: JSON.stringify({
                    model: curr
                }),
                type: "post",
                async: false,
                contentType: 'application/json',
                success: function (obj) {
                    if (obj.Success)
                        alert("Success Action");
                    else
                        alert(obj.Msg);
                },
                error: function (obj) {
                    alert("fail to Save Data");
                }

            });
        };

        $scope.customProcessClick = function () {
            GetTCGroupList();
            GetCustProcess();
            $scope.showCustomProcess = true;
        };

        $scope.addNewCustProcess = function () {
            var newItem = {
                LOAD_BATCH_TOKEN :0,
                WILL_BILL_NO :"",
                TC_GROUP :"",
                DO_RELEASE_DATE :"",
                BND_ARRIVAL_DATE :"",
                BND_OUT_DATE :"",
                NBND_ARRIVAL_DATE :"",
                NOTE :""
            };
            if ($scope.hasData)
                newItem.WILL_BILL_NO = $scope.result[0].WILL_BILL_NO;
            $scope.ittCustomerProcessArray.push(newItem);
        }

        $scope.saveCustLoad = function (curr) {
            $.ajax({
                url: "/itt/SaveCustLoad",
                data: JSON.stringify({
                    model: curr
                }),
                type: "post",
                async: false,
                contentType: 'application/json',
                success: function (obj) {
                    if (obj.Success)
                        alert("Success Action");
                    else
                        alert(obj.Msg);
                },
                error: function (obj) {
                    alert("fail to Save Data");
                }

            });
        };

        $scope.onOutDateChange = function (curr)
        {
            //debugger;
            if ((curr.BND_OUT_DATE != null&&curr.BND_OUT_DATE !="") && (curr.NBND_ARRIVAL_DATE == null || curr.NBND_ARRIVAL_DATE == ""))
            {
                $.ajax({
                    url: "/itt/GetArrivalDateFromOutDate",
                    data: JSON.stringify({
                        outDate: curr.BND_OUT_DATE
                    }),
                    type: "post",
                    async: false,
                    contentType: 'application/json',
                    success: function (obj) {
                       
                        curr.NBND_ARRIVAL_DATE = obj;
                    },
                    error: function (obj) {
                        alert("fail to Save Data");
                    }

                });
            }
        }


        //function part
        function GetTranLoad() {
            $.ajax({
                url: "/itt/GetTranLoadList",
                data: {
                    willBillNo: $scope.willBillNo
                },
                type: "post",
                async: false,
                success: function (obj) {
                    $scope.ittTranLoadArray = obj;
                },
                error: function (obj) {
                    alert("fail to get will bill Data");
                }

            });
        };

        //function part
        function GetTranTypeList() {
            $.ajax({
                url: "/itt/GetTranTypeList",
                data: { },
                type: "post",
                async: false,
                success: function (obj) {
                    $scope.ittTranTypeArray = obj;
                },
                error: function (obj) {
                    alert("fail to get tran type Data");
                }

            });
        };

        function GetTCGroupList() {
            $.ajax({
                url: "/itt/GetTCGroupTypeList",
                data: {},
                type: "post",
                async: false,
                success: function (obj) {
                    $scope.TCGroupList = obj;
                },
                error: function (obj) {
                    alert("fail to get TC group List Data");
                }

            });
        };

        function GetCustProcess() {
            $.ajax({
                url: "/itt/GetCustList",
                data: {
                    willBillNo: $scope.willBillNo
                },
                type: "post",
                async: false,
                success: function (obj) {
                    $scope.ittCustomerProcessArray = obj;
                },
                error: function (obj) {
                    alert("fail to get will bill Data");
                }

            });
        };



    });

    //manual load app
    angular.bootstrap(document.getElementById('ittIndexBody'), ['ittApp']);

</script>

<script>
    function uploadTranLoadFile() {
        var form = $("form[name=tranLoadForm]");
                var options  = {
                    url: '/itt/UploadTranLoadFile',
                        type: 'post',
                        enctype:"multipart/form-data",
                    success:function(data)
                    {
                        alert(data);
                            }
                    };
                form.ajaxSubmit(options);
    }

    function uploadCustFile()
    {
        var form = $("form[name=custForm]");
        var options = {
            url: '/tc/UploadCustLoadFile',
            type: 'post',
            enctype: "multipart/form-data",
            success: function (data) {
                alert(data);
            }
        };
        form.ajaxSubmit(options);
       
        //$(function () {setInterval("link()",1000) });
    }


    function downloadTranLoadTemplate()
    {
        window.location.href = "/itt/DownloadTranLoadTemplate";
    }

    function downloadCustLoadTemplate()
    {
        window.location.href = "/itt/DownloadCustLoadTemplate";
    }

</script>