
@{
    ViewBag.Title = "ITT Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid" id="tcMaintBody" ng-app="maintApp" ng-controller="maintCtrl">
    <div class="panel panel-default">
        <div class="panel-heading"><b>ITT Index</b></div>

        <form class="form-horizontal" id="searchForm">
            <div class="row" style="margin-top:20px;">
                <div class="form-group">
                    <label for="orderID" class="col-sm-2 control-label small">Part No.</label>
                    <div class="col-sm-2 col-lg-2">
                        <input type="text" class="form-control input-sm" ng-model="partNo" placeholder="Part No.">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="cAlias" class="col-sm-2 control-label">HS Code</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-sm" ng-model="hsCode" placeholder="HS Code">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="cAlias" class="col-sm-2 control-label">Declaration Name</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-sm" ng-model="declrName" placeholder="Declaration Name">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="poNum" class="col-sm-2 control-label">Element</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-sm" ng-model="element" placeholder="Element">
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-primary btn-sm" ng-click="searchAction()">Search</button>
                    </div>
                </div>

            </div>
        </form>
      <hr />

        <!--HS part upload form-->
        <div class="row">
            <form class="form-inline" name="hsForm" id="hsUpload"  >@*//method="post" action="/tc/UploadHSFile" enctype="multipart/form-data"*@
                <div class="col-sm-2 text-right">
                    <label style="margin-left:20px">HS Upload</label>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="hsFile">HS Upload</label>
                    <input type="file" name="fileInput" id="hsFile">
                </div>
                <button class="btn btn-primary btn-sm" onclick="uploadHSFile()">Upload</button>
                <button class="btn btn-primary btn-sm" onclick="downloadHSPartTemplate()">Download Template</button>
            </form>
        </div>

        <!--TC Category upload form-->
        <div class="row" style="margin-top:10px;margin-bottom:10px">
            <form class="form-inline" name="tcCateForm" id="tcCateUpload" >@*enctype="multipart/form-data" method="post" action="/tc/UploadTCCateFile"*@
                <div class="col-sm-2 text-right">
                    <label style="margin-left:20px">TC Category Upload</label>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="exampleInputFile">TC Category Upload</label>
                    <input type="file" name="fileInput" id="exampleInputFile">
                </div>
                <button  class="btn btn-primary btn-sm" onclick="uploadTCCateFile()">Upload</button>
                <button class="btn btn-primary btn-sm" onclick="downloadMPartTemplate()">Download Template</button>
            </form>

        </div>
        
        

        <!--Order List-->
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="panel panel-default" style="">
                    @*<div class="panel-heading">
                        <b>Order List</b>
                    </div>*@

                    <table id="tbOrders" class="table table-striped table-hover table-bordered .table-condensed">
                        <thead>
                            <tr>
                                <th style="">Part_No</th>
                                <th style="">申报品名</th>
                                <th style="">申报税号</th>
                                <th style="">申报要素</th>
                                <th style="">预归类1</th>
                                <th style="">预归类2</th>
                                <th style="">Operation</th>
                            </tr>
                        </thead>
                        <tbody style="">
                            <tr ng-repeat="r in result ">
                                <td style="">{{r.PART_NO}}</td>
                                <td>{{r.DECLARATION_NAME}}</td>
                                <td>{{r.HSCODE}}</td>
                                <td>{{r.ELEMENT}}</td>
                                <td>{{r.PRE_CODING1}}</td>
                                <td>{{r.PRE_CODING2}}</td>
                                <td style="text-align:center">
                                    <a href="javascript:void(0)" title="Detail" class="detailBtn" ng-click="viewDetail(r)"><span class="glyphicon glyphicon-send"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    

    angular.module('maintApp', []).controller('maintCtrl', function ($scope, $http) {
        $scope.result = [];
        $scope.partNo = "";
        $scope.hsCode = "";
        $scope.declrName = "";
        $scope.element = "";
        $scope.loading = true;

    });

    //manual load app
    angular.bootstrap(document.getElementById("tcMaintBody"), ['maintApp']);

</script>

<script>
    function uploadHSFile() {
        var form = $("form[name=hsForm]");
                var options  = {
                    url: '/tc/UploadHSFile',
                        type: 'post',
                        enctype:"multipart/form-data",
                    success:function(data)
                    {
                        debugger;
                        alert(data);
                            }
                    };
                form.ajaxSubmit(options);
    }

    function uploadTCCateFile()
    {
        var form = $("form[name=tcCateForm]");
        var options = {
            url: '/tc/UploadTCCateFile',
            type: 'post',
            enctype: "multipart/form-data",
            success: function (data) {
                debugger;
                alert(data);
            }
        };
        form.ajaxSubmit(options);
       
        //$(function () {setInterval("link()",1000) });
    }

    function addNewPart()
    {
        var appElement = document.querySelector('[ng-controller=partFormCtrl]');
        var scope = angular.element(appElement).scope();
        scope.beginAdd();

        scope.$apply();
        $("#partModal").modal("show");
    }

    function downloadHSPartTemplate()
    {
     window.location.href = "/tc/DownloadHSFileTemplate";
    }

    function downloadMPartTemplate()
    {
     window.location.href = "/tc/DownloadMPartFileTemplate";
    }

</script>