
@{
    ViewBag.Title = "KPI DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/echart")
<div class="container-fluid" id="kpiBody" ng-app="kpiApp" ng-controller="kpiCtrl">
    <div class="panel panel-default">
        <div class="panel-heading"><b>KPI Group</b></div>

        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" ng-class="{active:$index==0}" ng-repeat="kg in kpiGroupArray track by kg.KPI_GROUP">
                <a href="#group{{$index}}" role="tab" data-toggle="tab" ng-click="tabClick(kg,$index)">{{kg.GROUP_DESC_SHORT}}</a>
            </li>
        </ul>

        <!--content parts-->
        <div class="tab-content" style="overflow-x:auto;">
            <div role="tabpanel" class="tab-pane" ng-class="{active:$index==0}" ng-repeat="kg1 in kpiGroupArray track by kg1.KPI_GROUP" id="group{{$index}}">

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background-color:silver"><b>Description</b></div>
                            <div class="panel panel-default " style="height:100px;">
                                {{kg1.KPI_GROUP_DESC}}
                            </div>

                            <hr />
                            <br />

                            <div class="col-md-6" ng-repeat="t in latestHistoryArray[$index]">
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="background-color:silver"><b>{{t.kpiCode.KPI_CODE_DESC}}</b></div>
                                    <table class="table table-bordered table-condensed">
                                        <thead>
                                            <tr>
                                                @*
                                                <th style="">index</th>*@
                                                <th style="">Week</th>
                                                <th style="">Date</th>
                                                <th style="">Description</th>
                                                
                                                <th style="">Act.</th>
                                                <th style="">Target</th>
                                                <th style="">Note</th>
                                                <th style="">Owner</th>
                                                <th style="">item</th>
                                                <th style="">Trend</th>
                                            </tr>
                                        </thead>
                                        <tbody style="">
                                            <tr ng-repeat="h in t.array ">
                                                @*
                                                <td>{{$index+1}}</td>*@
                                                <td>{{h.WEEK}}</td>
                                                <td>{{h.KPI_DATE | date:'yyyy-MM-dd'}}</td>
                                                <td>{{h.DESC}}</td>
                                                
                                                <td ng-style="{backgroundColor:h.VALUE_COLOR}">{{h.KPI_VALUE}}</td>
                                                <td>{{h.KPI_TARGET}}</td>
                                                <td>{{h.NOTE}}</td>
                                                <td>{{h.KPI_OWNER}}</td>
                                                <td>{{h.KPI_SUB_CODE}}</td>
                                                <td><a href="javascript:void(0)" title="Trend" class="trendBtn" ng-click="showTrend(h,$parent.$index)"><span class="glyphicon glyphicon-stats"></span></a></td>
                                            </tr>
                                        </tbody>


                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>


</div>

<!--Trend Modal-->
<div class="modal fade" id="trendModal" role="dialog" aria-labelledby="result" aria-hidden="true" ng-app="trendApp" ng-controller="trendCtrl">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-header">
                <h3> Code:{{selectedItem.KPI_CODE}}, SubCode:{{selectedItem.KPI_SUB_CODE}}</h3>
            </div>

            <div class="modal-body">

                <div class="row">
                    <!--width is calulated in ready function-->
                    <div id="chart1" style="height:400px">

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<script>
    
    angular.module('kpiApp', []).controller('kpiCtrl', function ($scope, $http) {
        $scope.kpiGroupArray = [];
        $scope.latestHistoryArray = [];
        $scope.historyGot = [];


        $http.post("/KPI/GetKPIGroupList", null, null).then(
            function (obj) {
                //debugger;
                if (obj.data.Success) {
                    
                    $scope.kpiGroupArray = obj.data.Data;
                    GetLatestHistory($scope.kpiGroupArray[0].KPI_GROUP, 0);
                }
                else
                    alert(obj.data.Msg)
            },
             function (resp) {
                 debugger;
                 alert("Fail!");
             }
            );

        $scope.tabClick = function (curr, index) {

            GetLatestHistory(curr.KPI_GROUP, index);
        };

        $scope.showTrend = function (history, index)
        {
            $("#trendModal").modal("show");
            //debugger;
            var appElement = document.querySelector('[ng-controller=trendCtrl]');
            var scope = angular.element(appElement).scope();
            scope.selectedItem = history;
            scope.loadTrendData();
            scope.$apply();
            
        }

        //Function part
        function GetLatestHistory(group, index) {
            if (group == "")
                return;
            //debugger;
            if ($scope.historyGot[index]!=undefined && $scope.historyGot[index]== true)
                return;
            //debugger;
            $.ajax({
                url: "/kpi/GetLatestHistory",
                data: {
                    kpiGroup: group
                },
                type: "post",
                async: false,
                success: function (obj) {
                    
                    if (obj.Success) {
                        //debugger;
                        var history = obj.Data.History;
                        var groupGot = obj.Data.Group.sort(groupCompare);
                        //$scope.latestHistoryArray[index] = obj.Data.History;
                        $scope.historyGot[index] = true;
                        if (groupGot == null || history == null) {
                            $scope.latestHistoryArray[index] = null;
                            return;
                        }

                        var tabData = [];
                        for (var i = 0; i < groupGot.length; i++) {
                            var codeData = { kpiCode: {}, array: [] };
                            codeData.kpiCode = groupGot[i];
                            codeData.array = [];
                            for (var j = 0; j < history.length; j++) {
                                if (history[j].KPI_CODE == codeData.kpiCode.KPI_CODE)
                                    codeData.array.push(history[j]);
                            }
                            codeData.array.sort(historyCompare);
                            tabData.push(codeData);
                        }
                        //debugger;
                        $scope.latestHistoryArray[index] = tabData;
                    }
                    else {
                        alert(obj.Msg);
                    }

                },
                error: function (obj) {
                    alert(obj.responseText);
                }
            });
        };

        function historyCompare(obj1, obj2)
        {
            var value1 = obj1.DESC;
            var value2 = obj2.DESC;
            if (value1 > value2) {
                return 1;
            } else if (value1 < value2) {
                return -1;
            } else {
                return 0;
            }
        }

        function groupCompare(obj1, obj2) {
            var value1 = obj1.KPI_CODE_DESC;
            var value2 = obj2.KPI_CODE_DESC;
            if (value1 > value2) {
                return 1;
            } else if (value1 < value2) {
                return -1;
            } else {
                return 0;
            }
        }


    });

    //manual load app
    angular.bootstrap(document.getElementById("kpiBody"), ['kpiApp']);

    //Audit log part
    angular.module('trendApp', []).controller('trendCtrl', function ($scope, $http) {

        $scope.selectedItem = "";
        //$scope.auditLog = [];

        $scope.loadTrendData = function () {
            if ($scope.selectedItem == "")
                return;
            var myChart = echarts.init(document.getElementById('chart1'));

            var option = {
                title: {
                    text: 'Trend Chart',
                    x: 'center',
                    align: 'right'
                },
                tooltip: { trigger: 'axis' },
                toolbox: {
                    show: true,
                    feature: {
                        dataZoom: { yAsisIndex: 'none' },
                        dataView: { readOnly: false },
                        magicType: { type: ['line', 'bar'] },
                        restore: {},
                        saveAsImage: {}
                    }
                },
                legend: {
                    data: ['value', 'target'],
                    x: 'left'
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: [],
                    axisLabel: {
                        formatter: function (value, idx) {
                            return idx == 0 ? value : value.substr(5);
                        }
                    }
                },
                yAxis: {
                    name: 'Qty',
                    type: 'value'
                },
                series: [{
                    name: 'value',
                    type: 'line',
                    data: []
                },
                {
                    name: 'target',
                    type: 'line',
                    data: []
                }]
            };

            myChart.setOption(option);

            myChart.showLoading();
            //Get data
            $.ajax({
                url: "/kpi/GetTrendData",
                data: {
                    code: $scope.selectedItem.KPI_CODE,
                    subCode: $scope.selectedItem.KPI_SUB_CODE
                },
                type: "post",
                async: false,
                success: function (obj) {
                    if (obj.Success)
                    {
                        //debugger;
                        myChart.hideLoading();
                        myChart.setOption({
                            xAxis: {
                                data: obj.Data.kpiDates
                            },
                            series: [
                                { name: 'value', data: obj.Data.kpiValues },
                                { name: 'target', data: obj.Data.kpiTarget }]
                        });
                    }
                    else
                        alert(obj.Msg);
                },
                error: function (obj) {
                    alert(obj.responseText);
                }
            });
        };

    });

    angular.bootstrap(document.getElementById("trendModal"), ['trendApp']);

    


</script>

<script>
    $(document).ready(function () {
       //base on percent to calulate char1 width
        $("#chart1").css('width', window.innerWidth * 0.8 * 0.95);
    });

</script>